# Data Cleaning and Pre Processing

Here we take in the cleveland.data file from UCI Heart Disease database and format it to final CSV file which we can use for analysis.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Attributes Assigning

The following cell shows all attributes and selected 14 attributes

In [2]:
# Names of all attributes in UCI Heart Disease Dataset
headers = [
    "id", "ccf", "age", "sex",  "painloc", "painexer", "relrest", "pncaden", "cp", "trestbps",  "htn", "chol", "smoke", "cigs", "years", "fbs",  "dm", "famhist", "restecg",
    "ekgmo", "ekgday", "ekgyr", "dig",  "prop", "nitr", "pro", "diuretic", "proto", "thaldur",  "thaltime", "met", "thalach", "thalrest", "tpeakbps", "tpeakbpd",  "dummy", "trestbpd", "exang",
    "xhypo", "oldpeak", "slope", "rldv5",  "rldv5e", "ca", "restckm", "exerckm", "restef", "restwm",  "exeref", "exerwm", "thal", "thalsev", "thalpul", "earlobe",  "cmo", "cday", "cyr",
    "num", "lmt", "ladprox", "laddist",  "diag", "cxmain", "ramus", "om1", "om2", "rcaprox",  "rcadist", "lvx1", "lvx2", "lvx3", "lvx4", "lvf",  "cathef", "junk", "name"
]

# Names of all attributes in short version of UCI dataset
selected_columns = [
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"
]

## Dataset Format

The datafile contains contiguous elements seperated by a newline or space. Each row of the required dataset is observed to be 10 lines in the datafile in the following format:
1. The first line contains 7 elements
2. Lines 2-9 contains 8 elements
3. Line 10 contains 5 elements.
4. The last element belongs to attribute Name and contains string 'name' always

This information is used for data cleaning

# Switzerland Datafile

## Finding Errors in Data / Missing Data

In [3]:
# Opens switzerland.data, iterates lines, takes in data and stores as a list of rows
switzerland_datafile = open('raw_data/switzerland.data', 'r', errors='ignore')

switzerland_wrong_data_lines = list() # Stores datalines with incorrect size of elements
switzerland_wrong_name_lines = list() # Stores datalines with wrong name attribute

i = 1

for line in switzerland_datafile:
    linecontent = line.split()
    if i % 10 == 1:
        if len(linecontent) != 7:
            switzerland_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
    elif i%10 in range(2, 10):
        if len(linecontent) != 8:
            switzerland_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
    elif i%10 == 0:
        if len(linecontent) != 5:
            switzerland_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
        if linecontent[-1] != 'name':
            switzerland_wrong_name_lines.append({'line_no': i, 'line_size': len(linecontent)})
    i += 1

print("Current i value (no of lines): ", i)

switzerland_datafile.close()

print("Lines with wrong number of elements are: ")
print(switzerland_wrong_name_lines)

print("Lines with wrong name attribute: ")
print(switzerland_wrong_data_lines)

Current i value (no of lines):  1231
Lines with wrong number of elements are:
[]
Lines with wrong name attribute:
[]

## Inference

Here, we see that 1230 lines of data exist amounting to around 123 data points.

## Creating the Dataset

In [4]:
switzerland_datafile = open('raw_data/switzerland.data', 'r', errors='ignore')

switzerland_dataset = list()
switzerland_datarow = list()

i = 0

for line in switzerland_datafile:
    i += 1
    if i > 1230:
        break
    linecontent = line.split()
    switzerland_datarow.extend(linecontent)
    if i % 10 == 0:
        row_clone = switzerland_datarow.copy()
        if len(row_clone)== 76:
            switzerland_dataset.append(row_clone)
        else:
            print(row_clone)
        switzerland_datarow.clear()
        
switzerland_datafile.close()

print("No of datapoints: ", len(switzerland_dataset))

df = pd.DataFrame(switzerland_dataset, columns=headers)
# The first version of the dataset is a direct raw conversion of the .data file to .csv file
df.to_csv('datasets/switzerland_raw.csv', index=False) 

del df

No of datapoints:  123

In [5]:
switzerland_data = pd.read_csv('datasets/switzerland_raw.csv')
switzerland_data.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk,name
0,3001,0,65,1,1,1,1,-9,4,115,...,1,1,1,1,1,1,1,75.0,-9.0,name
1,3002,0,32,1,0,0,0,-9,1,95,...,1,1,1,1,1,5,1,63.0,-9.0,name
2,3003,0,61,1,1,1,1,-9,4,105,...,2,1,1,1,1,1,1,67.0,-9.0,name
3,3004,0,50,1,1,1,1,-9,4,145,...,1,1,1,1,1,5,4,36.0,-9.0,name
4,3005,0,57,1,1,1,1,-9,4,110,...,2,1,1,1,1,1,1,60.0,-9.0,name

In [6]:
switzerland_data.describe()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk
count,123.000000,123.0,123.000000,123.000000,123.000000,123.000000,123.000000,123.0,123.000000,123.000000,...,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.0
mean,3625.886179,0.0,55.317073,0.918699,0.910569,0.821138,0.780488,-9.0,3.699187,127.943089,...,1.056911,1.422764,1.235772,-0.235772,-0.276423,-0.170732,0.065041,0.382114,53.845528,-9.0
std,499.271374,0.0,9.032108,0.274414,0.286532,0.384804,0.415609,0.0,0.688726,28.514679,...,0.232619,0.496019,0.426217,3.598910,3.576565,3.676927,3.916631,3.310491,26.631989,0.0
min,3001.000000,0.0,32.000000,0.000000,0.000000,0.000000,0.000000,-9.0,1.000000,-9.000000,...,1.000000,1.000000,1.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.0
25%,3031.500000,0.0,51.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,115.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,52.500000,-9.0
50%,4012.000000,0.0,56.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,125.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,63.000000,-9.0
75%,4042.500000,0.0,61.500000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,145.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,69.000000,-9.0
max,4074.000000,0.0,74.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,200.000000,...,2.000000,2.000000,2.000000,7.000000,7.000000,7.000000,8.000000,4.000000,86.000000,-9.0

In [7]:
switzerland_data = switzerland_data.replace(-9, np.nan)

In [8]:
# Removing ID and Name columns as they are useless

switzerland_data = switzerland_data.drop(['id', 'name'], axis = 1)

In [9]:
# Removing columns with constant data

drop_cols = list()

for col in switzerland_data.columns.values:
    if switzerland_data[col].std() == 0:
        drop_cols.append(col)
        
print("Columns to be dropped: ", drop_cols)
print("No of rows to be dropped: ", len(drop_cols))

Columns to be dropped:  ['ccf', 'chol', 'dm', 'famhist', 'proto']
No of rows to be dropped:  5

In [10]:
# Removing columns with all nan values

for col in switzerland_data.columns.values:
    if np.isnan(switzerland_data[col].std()):
        drop_cols.append(col)
        
print(drop_cols)
print("No of rows to be dropped: ", len(drop_cols))

['ccf', 'chol', 'dm', 'famhist', 'proto', 'pncaden', 'restckm', 'exerckm', 'restef', 'restwm', 'exeref', 'exerwm', 'earlobe', 'junk']
No of rows to be dropped:  14

In [11]:
# Dropping all unnecessary columns

switzerland_data = switzerland_data.drop(drop_cols, axis=1)

In [12]:
# Identifying columns with NaN values

cols_with_nan = switzerland_data.columns.values[switzerland_data.isna().any()]
display(cols_with_nan)

array(['trestbps', 'htn', 'smoke', 'cigs', 'years', 'fbs', 'restecg',
       'ekgmo', 'ekgday', 'ekgyr', 'dig', 'prop', 'nitr', 'pro',
       'diuretic', 'thaldur', 'thaltime', 'met', 'thalach', 'thalrest',
       'tpeakbps', 'tpeakbpd', 'dummy', 'trestbpd', 'exang', 'xhypo',
       'oldpeak', 'slope', 'rldv5', 'rldv5e', 'ca', 'thal', 'thalsev',
       'thalpul', 'cmo', 'cday', 'cyr', 'lvx1', 'lvx2', 'lvx3', 'lvx4',
       'lvf', 'cathef'], dtype=object)

In [13]:
nan_count = dict()

for col in cols_with_nan:
    nan_count[col] = switzerland_data[col].isna().sum()
    print('Column Name: ', col)
    print('NaN Count: ', nan_count[col])
    print(switzerland_data[col].value_counts())
    print("\n")

Column Name:  trestbps
NaN Count:  2
115.0    14
120.0    13
160.0    11
110.0    10
140.0    10
130.0    10
125.0     8
150.0     7
145.0     6
95.0      6
135.0     6
105.0     5
155.0     4
100.0     4
200.0     2
80.0      1
185.0     1
170.0     1
165.0     1
180.0     1
Name: trestbps, dtype: int64


Column Name:  htn
NaN Count:  30
0.0    60
1.0    33
Name: htn, dtype: int64


Column Name:  smoke
NaN Count:  100
1.0    18
0.0     5
Name: smoke, dtype: int64


Column Name:  cigs
NaN Count:  112
20.0    8
40.0    3
Name: cigs, dtype: int64


Column Name:  years
NaN Count:  121
50.0    1
40.0    1
Name: years, dtype: int64


Column Name:  fbs
NaN Count:  75
0.0    43
1.0     5
Name: fbs, dtype: int64


Column Name:  restecg
NaN Count:  1
0.0    85
1.0    30
2.0     7
Name: restecg, dtype: int64


Column Name:  ekgmo
NaN Count:  1
1.0     22
3.0     21
2.0     18
4.0     15
5.0      8
8.0      7
9.0      7
7.0      7
6.0      6
12.0     6
10.0     3
11.0     2
Name: ekgmo, dtype: int64


Column Name:  ekgday
NaN Count:  1
6.0     9
25.0    7
28.0    7
19.0    6
14.0    6
18.0    6
1.0     5
2.0     5
3.0     5
20.0    5
11.0    4
24.0    4
22.0    4
17.0    4
29.0    4
4.0     4
26.0    4
21.0    3
13.0    3
16.0    3
27.0    3
5.0     3
30.0    3
23.0    3
7.0     3
12.0    2
15.0    2
8.0     2
10.0    2
9.0     1
Name: ekgday, dtype: int64


Column Name:  ekgyr
NaN Count:  1
85.0    77
84.0    45
Name: ekgyr, dtype: int64


Column Name:  dig
NaN Count:  5
0.0    116
1.0      2
Name: dig, dtype: int64


Column Name:  prop
NaN Count:  2
0.0    70
1.0    51
Name: prop, dtype: int64


Column Name:  nitr
NaN Count:  3
0.0    75
1.0    45
Name: nitr, dtype: int64


Column Name:  pro
NaN Count:  1
0.0    66
1.0    56
Name: pro, dtype: int64


Column Name:  diuretic
NaN Count:  6
0.0    93
1.0    24
Name: diuretic, dtype: int64


Column Name:  thaldur
NaN Count:  1
9.0     28
6.0     14
7.0     13
6.5      9
4.0      8
10.0     7
12.0     7
5.0      7
7.5      5
8.0      5
3.0      5
5.5      4
11.0     2
4.5      2
9.5      2
10.5     1
8.3      1
8.5      1
7.8      1
Name: thaldur, dtype: int64


Column Name:  thaltime
NaN Count:  34
0.0     25
6.0      9
3.0      5
10.0     5
5.0      4
8.0      3
8.6      3
12.0     3
7.4      2
13.2     2
4.0      2
3.5      2
14.0     2
12.6     1
11.7     1
6.4      1
9.4      1
4.6      1
7.5      1
1.0      1
4.2      1
10.6     1
11.0     1
5.1      1
9.3      1
11.8     1
14.3     1
0.7      1
10.7     1
5.4      1
7.8      1
17.8     1
10.2     1
11.1     1
15.8     1
Name: thaltime, dtype: int64


Column Name:  met
NaN Count:  50
100.0    31
150.0    21
50.0     11
75.0      7
125.0     2
200.0     1
Name: met, dtype: int64


Column Name:  thalach
NaN Count:  1
120.0    9
128.0    5
115.0    4
122.0    4
110.0    4
        ..
179.0    1
144.0    1
170.0    1
104.0    1
90.0     1
Name: thalach, Length: 67, dtype: int64


Column Name:  thalrest
NaN Count:  1
70.0     8
60.0     6
74.0     6
69.0     6
56.0     5
85.0     5
80.0     5
54.0     4
64.0     4
63.0     4
72.0     4
82.0     4
59.0     3
65.0     3
58.0     3
77.0     3
55.0     3
50.0     2
75.0     2
83.0     2
76.0     2
57.0     2
68.0     2
66.0     2
62.0     2
61.0     2
71.0     2
73.0     2
90.0     2
84.0     2
67.0     1
88.0     1
44.0     1
78.0     1
39.0     1
110.0    1
52.0     1
98.0     1
53.0     1
46.0     1
94.0     1
99.0     1
79.0     1
86.0     1
100.0    1
81.0     1
92.0     1
47.0     1
89.0     1
91.0     1
Name: thalrest, dtype: int64


Column Name:  tpeakbps
NaN Count:  3
160.0    17
180.0    16
170.0    11
140.0    10
190.0     8
155.0     7
150.0     7
135.0     5
175.0     5
200.0     5
145.0     4
130.0     4
195.0     4
185.0     3
120.0     3
215.0     3
220.0     2
230.0     2
125.0     1
165.0     1
110.0     1
115.0     1
Name: tpeakbps, dtype: int64


Column Name:  tpeakbpd
NaN Count:  3
80.0     38
90.0     18
100.0    14
85.0     12
95.0     11
70.0     11
110.0     4
75.0      3
105.0     3
65.0      2
60.0      2
55.0      1
115.0     1
Name: tpeakbpd, dtype: int64


Column Name:  dummy
NaN Count:  2
115.0    14
120.0    13
160.0    11
110.0    10
140.0    10
130.0    10
125.0     8
150.0     7
145.0     6
95.0      6
135.0     6
105.0     5
155.0     4
100.0     4
200.0     2
80.0      1
185.0     1
170.0     1
165.0     1
180.0     1
Name: dummy, dtype: int64


Column Name:  trestbpd
NaN Count:  2
80.0     33
85.0     19
90.0     15
70.0     13
75.0     13
65.0      6
100.0     6
60.0      5
95.0      5
110.0     3
105.0     2
120.0     1
Name: trestbpd, dtype: int64


Column Name:  exang
NaN Count:  1
0.0    68
1.0    54
Name: exang, dtype: int64


Column Name:  xhypo
NaN Count:  3
0.0    113
1.0      7
Name: xhypo, dtype: int64


Column Name:  oldpeak
NaN Count:  6
 0.0    42
 2.0    11
 1.0    10
 1.5     6
 0.5     5
 0.7     4
 1.6     2
-1.0     2
 1.1     2
 1.8     2
 0.3     2
 1.3     2
 2.5     2
 0.1     2
 0.2     2
 1.4     2
 2.1     1
-2.0     1
-0.5     1
 3.7     1
-0.8     1
-0.7     1
-1.1     1
 2.4     1
 0.9     1
 2.2     1
-0.1     1
-1.5     1
-2.6     1
 2.8     1
-0.9     1
 2.6     1
 0.4     1
 1.7     1
 3.0     1
Name: oldpeak, dtype: int64


Column Name:  slope
NaN Count:  17
2.0    61
1.0    33
3.0    12
Name: slope, dtype: int64


Column Name:  rldv5
NaN Count:  77
11.0    7
12.0    4
8.0     3
24.0    3
20.0    3
10.0    3
13.0    3
14.0    3
15.0    3
7.0     3
18.0    3
19.0    2
9.0     2
26.0    1
16.0    1
23.0    1
22.0    1
Name: rldv5, dtype: int64


Column Name:  rldv5e
NaN Count:  77
18.0    6
20.0    6
12.0    5
8.0     4
13.0    3
15.0    3
7.0     3
6.0     2
17.0    2
11.0    2
10.0    2
23.0    1
25.0    1
24.0    1
19.0    1
16.0    1
9.0     1
27.0    1
22.0    1
Name: rldv5e, dtype: int64


Column Name:  ca
NaN Count:  118
2.0    3
1.0    2
Name: ca, dtype: int64


Column Name:  thal
NaN Count:  50
7.0    42
3.0    19
6.0    10
1.0     1
4.0     1
Name: thal, dtype: int64


Column Name:  thalsev
NaN Count:  51
2.0    26
0.0    21
1.0    19
3.0     6
Name: thalsev, dtype: int64


Column Name:  thalpul
NaN Count:  97
0.0    23
1.0     3
Name: thalpul, dtype: int64


Column Name:  cmo
NaN Count:  9
3.0     19
1.0     18
4.0     16
2.0     15
7.0      8
8.0      7
6.0      6
9.0      6
12.0     6
5.0      6
10.0     4
11.0     3
Name: cmo, dtype: int64


Column Name:  cday
NaN Count:  9
4.0     8
28.0    7
18.0    6
7.0     6
21.0    5
19.0    5
26.0    5
3.0     5
25.0    5
24.0    4
12.0    4
11.0    4
5.0     4
27.0    4
8.0     3
6.0     3
30.0    3
14.0    3
9.0     3
29.0    3
22.0    3
2.0     3
13.0    3
20.0    3
17.0    2
15.0    2
1.0     2
23.0    2
31.0    2
16.0    1
10.0    1
Name: cday, dtype: int64


Column Name:  cyr
NaN Count:  9
85.0    67
84.0    45
82.0     1
87.0     1
Name: cyr, dtype: int64


Column Name:  lvx1
NaN Count:  17
1.0    100
3.0      4
7.0      1
5.0      1
Name: lvx1, dtype: int64


Column Name:  lvx2
NaN Count:  17
1.0    103
7.0      1
4.0      1
5.0      1
Name: lvx2, dtype: int64


Column Name:  lvx3
NaN Count:  17
1.0    100
5.0      3
6.0      1
4.0      1
7.0      1
Name: lvx3, dtype: int64


Column Name:  lvx4
NaN Count:  17
1.0    93
3.0     4
5.0     3
7.0     3
8.0     2
4.0     1
Name: lvx4, dtype: int64


Column Name:  lvf
NaN Count:  13
1.0    66
2.0    33
3.0     8
4.0     2
0.0     1
Name: lvf, dtype: int64


Column Name:  cathef
NaN Count:  17
67.0    7
65.0    7
68.0    6
70.0    6
63.0    5
60.0    5
66.0    5
62.0    5
58.0    5
57.0    4
48.0    4
71.0    4
76.0    4
49.0    4
64.0    3
73.0    3
75.0    3
69.0    3
72.0    2
77.0    2
54.0    2
59.0    2
53.0    1
36.0    1
80.0    1
74.0    1
83.0    1
52.0    1
51.0    1
45.0    1
47.0    1
50.0    1
79.0    1
56.0    1
86.0    1
55.0    1
61.0    1
Name: cathef, dtype: int64

In [14]:
print("No of rows with nan : ", sum([True for index,row in switzerland_data.iterrows() if any(row.isnull())]))

No of rows with nan :  123

## Filling NaN with Other Values

Here we fill NaN with other values in the column using probability of finding the value in the column as the criteria

In [15]:
cols_to_be_removed = list()

for col in cols_with_nan:
    if switzerland_data[col].isna().sum() > 0.25*switzerland_data.shape[0] and col not in selected_columns:
        cols_to_be_removed.append(col)
        
print(cols_to_be_removed)

['smoke', 'cigs', 'years', 'thaltime', 'met', 'rldv5', 'rldv5e', 'thalsev', 'thalpul']

In [16]:
# Dropping these columns

switzerland_data = switzerland_data.drop(cols_to_be_removed, axis = 1)

In [17]:
switzerland_ratio = switzerland_data.copy()
switzerland_mean = switzerland_data.copy()
switzerland_mode = switzerland_data.copy()
switzerland_median = switzerland_data.copy()

In [18]:
print("No of rows with nan : ", sum([True for index,row in switzerland_data.iterrows() if any(row.isnull())]))

No of rows with nan :  123

## Imputing with proportion of each value in dataset

In [19]:
cols_with_nan = switzerland_ratio.columns.values[switzerland_ratio.isna().any()]

for col in cols_with_nan:
    print("Col Name: ", col, "")
    
    col_duplicate = switzerland_ratio[col].copy()
    
    for index, val in col_duplicate.iteritems():
        if np.isnan(val):
            print(index, val)
        
    col_probabilities = []
        
    for index, val in col_duplicate.value_counts().iteritems():
        col_probabilities.append(round(val/col_duplicate.value_counts().sum(), 2))
    
    for i in range(len(col_probabilities)):
        if round(sum(col_probabilities), 2) >= 1:
            break
        col_probabilities[i] += 0.01
    
    for i in range(len(col_probabilities)):
        if round(sum(col_probabilities), 2) <= 1:
            break
        col_probabilities[i] -= 0.01
    
    col_values = col_duplicate.value_counts().index.values.tolist()
        
    col_duplicate = col_duplicate.fillna(pd.Series(np.random.choice(col_values, 
                                                                      p=col_probabilities, size=len(col_duplicate))))
        
    for index, val in switzerland_ratio[col].iteritems():
        if col_duplicate[index] != val:
            print("Index: ", index, ", ", col, " duplicate value: ", col_duplicate[index], ", original value: ", val)
            
    switzerland_ratio[col] = col_duplicate.copy()
    
    print(col, "done!!!\n")

Col Name:  trestbps
55 nan
112 nan
Index:  55 ,  trestbps  duplicate value:  115.0 , original value:  nan
Index:  112 ,  trestbps  duplicate value:  145.0 , original value:  nan
trestbps done!!!

Col Name:  htn
5 nan
9 nan
11 nan
12 nan
18 nan
19 nan
21 nan
23 nan
25 nan
28 nan
29 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
46 nan
47 nan
48 nan
49 nan
57 nan
58 nan
101 nan
Index:  5 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  9 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  11 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  12 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  18 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  19 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  21 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  23 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  25 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  28 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  29 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  31 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  32 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  33 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  34 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  35 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  36 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  38 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  39 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  40 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  41 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  42 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  43 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  46 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  47 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  48 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  49 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  57 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  58 ,  htn  duplicate value:  1.0 , original value:  nan
Index:  101 ,  htn  duplicate value:  1.0 , original value:  nan
htn done!!!

Col Name:  fbs
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
44 nan
45 nan
46 nan
47 nan
48 nan
49 nan
50 nan
54 nan
56 nan
57 nan
100 nan
101 nan
102 nan
103 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
120 nan
121 nan
122 nan
Index:  1 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  2 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  3 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  4 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  5 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  6 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  7 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  8 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  9 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  10 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  11 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  12 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  13 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  14 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  15 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  16 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  17 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  18 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  19 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  20 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  21 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  22 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  23 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  24 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  25 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  26 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  27 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  28 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  29 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  30 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  31 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  32 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  33 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  34 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  35 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  36 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  37 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  38 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  39 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  40 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  41 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  42 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  43 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  44 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  45 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  46 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  47 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  48 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  49 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  50 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  54 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  56 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  57 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  100 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  101 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  102 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  103 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  104 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  105 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  106 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  107 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  108 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  109 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  110 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  111 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  112 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  113 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  114 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  115 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  116 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  117 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  118 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  120 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  121 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  122 ,  fbs  duplicate value:  0.0 , original value:  nan
fbs done!!!

Col Name:  restecg
20 nan
Index:  20 ,  restecg  duplicate value:  0.0 , original value:  nan
restecg done!!!

Col Name:  ekgmo
55 nan
Index:  55 ,  ekgmo  duplicate value:  3.0 , original value:  nan
ekgmo done!!!

Col Name:  ekgday
55 nan
Index:  55 ,  ekgday  duplicate value:  12.0 , original value:  nan
ekgday done!!!

Col Name:  ekgyr
55 nan
Index:  55 ,  ekgyr  duplicate value:  85.0 , original value:  nan
ekgyr done!!!

Col Name:  dig
1 nan
3 nan
4 nan
55 nan
85 nan
Index:  1 ,  dig  duplicate value:  0.0 , original value:  nan
Index:  3 ,  dig  duplicate value:  0.0 , original value:  nan
Index:  4 ,  dig  duplicate value:  0.0 , original value:  nan
Index:  55 ,  dig  duplicate value:  0.0 , original value:  nan
Index:  85 ,  dig  duplicate value:  0.0 , original value:  nan
dig done!!!

Col Name:  prop
4 nan
55 nan
Index:  4 ,  prop  duplicate value:  1.0 , original value:  nan
Index:  55 ,  prop  duplicate value:  1.0 , original value:  nan
prop done!!!

Col Name:  nitr
1 nan
3 nan
55 nan
Index:  1 ,  nitr  duplicate value:  1.0 , original value:  nan
Index:  3 ,  nitr  duplicate value:  0.0 , original value:  nan
Index:  55 ,  nitr  duplicate value:  0.0 , original value:  nan
nitr done!!!

Col Name:  pro

55 nan
Index:  55 ,  pro  duplicate value:  0.0 , original value:  nan
pro done!!!

Col Name:  diuretic
1 nan
3 nan
4 nan
41 nan
43 nan
55 nan
Index:  1 ,  diuretic  duplicate value:  0.0 , original value:  nan
Index:  3 ,  diuretic  duplicate value:  1.0 , original value:  nan
Index:  4 ,  diuretic  duplicate value:  0.0 , original value:  nan
Index:  41 ,  diuretic  duplicate value:  1.0 , original value:  nan
Index:  43 ,  diuretic  duplicate value:  1.0 , original value:  nan
Index:  55 ,  diuretic  duplicate value:  0.0 , original value:  nan
diuretic done!!!

Col Name:  thaldur
55 nan
Index:  55 ,  thaldur  duplicate value:  6.0 , original value:  nan
thaldur done!!!

Col Name:  thalach
55 nan
Index:  55 ,  thalach  duplicate value:  97.0 , original value:  nan
thalach done!!!

Col Name:  thalrest
55 nan
Index:  55 ,  thalrest  duplicate value:  86.0 , original value:  nan
thalrest done!!!

Col Name:  tpeakbps
13 nan
55 nan
112 nan
Index:  13 ,  tpeakbps  duplicate value:  170.0 , original value:  nan
Index:  55 ,  tpeakbps  duplicate value:  155.0 , original value:  nan
Index:  112 ,  tpeakbps  duplicate value:  155.0 , original value:  nan
tpeakbps done!!!

Col Name:  tpeakbpd
13 nan
55 nan
112 nan
Index:  13 ,  tpeakbpd  duplicate value:  75.0 , original value:  nan
Index:  55 ,  tpeakbpd  duplicate value:  90.0 , original value:  nan
Index:  112 ,  tpeakbpd  duplicate value:  80.0 , original value:  nan
tpeakbpd done!!!

Col Name:  dummy
55 nan
112 nan
Index:  55 ,  dummy  duplicate value:  80.0 , original value:  nan
Index:  112 ,  dummy  duplicate value:  110.0 , original value:  nan
dummy done!!!

Col Name:  trestbpd
55 nan
112 nan
Index:  55 ,  trestbpd  duplicate value:  80.0 , original value:  nan
Index:  112 ,  trestbpd  duplicate value:  80.0 , original value:  nan
trestbpd done!!!

Col Name:  exang
55 nan
Index:  55 ,  exang  duplicate value:  0.0 , original value:  nan
exang done!!!

Col Name:  xhypo
14 nan
47 nan
55 nan
Index:  14 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  47 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  55 ,  xhypo  duplicate value:  0.0 , original value:  nan
xhypo done!!!

Col Name:  oldpeak
35 nan
55 nan
84 nan
100 nan
109 nan
112 nan
Index:  35 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  55 ,  oldpeak  duplicate value:  0.9 , original value:  nan
Index:  84 ,  oldpeak  duplicate value:  1.4 , original value:  nan
Index:  100 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  109 ,  oldpeak  duplicate value:  -2.0 , original value:  nan
Index:  112 ,  oldpeak  duplicate value:  0.0 , original value:  nan
oldpeak done!!!

Col Name:  slope
35 nan
55 nan
84 nan
100 nan
102 nan
103 nan
104 nan
106 nan
107 nan
108 nan
109 nan
111 nan
112 nan
113 nan
115 nan
116 nan
122 nan
Index:  35 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  55 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  84 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  100 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  102 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  103 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  104 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  106 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  107 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  108 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  109 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  111 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  112 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  113 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  115 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  116 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  122 ,  slope  duplicate value:  2.0 , original value:  nan
slope done!!!

Col Name:  ca
0 nan
1 nan
2 nan
3 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
37 nan
38 nan
39 nan
40 nan
41 nan
44 nan
45 nan
46 nan
47 nan
48 nan
49 nan
50 nan
51 nan
52 nan
53 nan
54 nan
55 nan
56 nan
57 nan
58 nan
59 nan
60 nan
61 nan
62 nan
63 nan
64 nan
65 nan
66 nan
67 nan
68 nan
69 nan
70 nan
71 nan
72 nan
73 nan
74 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 nan
81 nan
82 nan
83 nan
84 nan
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
91 nan
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 nan
100 nan
101 nan
102 nan
103 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
122 nan
Index:  0 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  1 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  2 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  3 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  5 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  6 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  7 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  8 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  9 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  10 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  11 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  12 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  13 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  14 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  15 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  16 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  17 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  19 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  20 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  21 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  22 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  23 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  24 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  25 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  26 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  27 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  28 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  29 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  30 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  31 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  32 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  33 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  34 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  35 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  37 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  38 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  39 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  40 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  41 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  44 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  45 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  46 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  47 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  48 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  49 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  50 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  51 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  52 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  53 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  54 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  55 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  56 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  57 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  58 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  59 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  60 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  61 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  62 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  63 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  64 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  65 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  66 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  67 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  68 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  69 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  70 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  71 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  72 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  73 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  74 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  75 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  76 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  77 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  78 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  79 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  80 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  81 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  82 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  83 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  84 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  85 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  86 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  87 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  88 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  89 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  90 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  91 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  92 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  93 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  94 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  95 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  96 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  97 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  98 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  99 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  100 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  101 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  102 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  103 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  104 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  105 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  106 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  107 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  108 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  109 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  110 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  111 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  112 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  113 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  114 ,  ca  duplicate value:  1.0 , original value:  nan
Index:  115 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  116 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  117 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  118 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  119 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  120 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  121 ,  ca  duplicate value:  2.0 , original value:  nan
Index:  122 ,  ca  duplicate value:  1.0 , original value:  nan
ca done!!!

Col Name:  thal
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
44 nan
45 nan
46 nan
47 nan
48 nan

49 nan
93 nan
Index:  1 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  2 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  3 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  4 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  5 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  6 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  7 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  8 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  9 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  10 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  11 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  12 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  13 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  14 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  15 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  16 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  17 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  18 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  19 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  20 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  21 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  22 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  23 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  24 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  25 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  26 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  27 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  28 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  29 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  30 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  31 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  32 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  33 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  34 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  35 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  36 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  37 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  38 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  39 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  40 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  41 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  42 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  43 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  44 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  45 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  46 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  47 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  48 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  49 ,  thal  duplicate value:  4.0 , original value:  nan
Index:  93 ,  thal  duplicate value:  7.0 , original value:  nan
thal done!!!

Col Name:  cmo
29 nan
35 nan
40 nan
43 nan
46 nan
47 nan
48 nan
49 nan
69 nan
Index:  29 ,  cmo  duplicate value:  1.0 , original value:  nan
Index:  35 ,  cmo  duplicate value:  7.0 , original value:  nan
Index:  40 ,  cmo  duplicate value:  9.0 , original value:  nan
Index:  43 ,  cmo  duplicate value:  9.0 , original value:  nan
Index:  46 ,  cmo  duplicate value:  12.0 , original value:  nan
Index:  47 ,  cmo  duplicate value:  9.0 , original value:  nan
Index:  48 ,  cmo  duplicate value:  8.0 , original value:  nan
Index:  49 ,  cmo  duplicate value:  12.0 , original value:  nan
Index:  69 ,  cmo  duplicate value:  1.0 , original value:  nan
cmo done!!!

Col Name:  cday
29 nan
35 nan
40 nan
43 nan
46 nan
47 nan
48 nan
49 nan
69 nan
Index:  29 ,  cday  duplicate value:  20.0 , original value:  nan
Index:  35 ,  cday  duplicate value:  22.0 , original value:  nan
Index:  40 ,  cday  duplicate value:  11.0 , original value:  nan
Index:  43 ,  cday  duplicate value:  5.0 , original value:  nan
Index:  46 ,  cday  duplicate value:  7.0 , original value:  nan
Index:  47 ,  cday  duplicate value:  8.0 , original value:  nan
Index:  48 ,  cday  duplicate value:  11.0 , original value:  nan
Index:  49 ,  cday  duplicate value:  9.0 , original value:  nan
Index:  69 ,  cday  duplicate value:  21.0 , original value:  nan
cday done!!!

Col Name:  cyr
29 nan
35 nan
40 nan
43 nan
46 nan
47 nan
48 nan
49 nan
69 nan
Index:  29 ,  cyr  duplicate value:  84.0 , original value:  nan
Index:  35 ,  cyr  duplicate value:  85.0 , original value:  nan
Index:  40 ,  cyr  duplicate value:  85.0 , original value:  nan
Index:  43 ,  cyr  duplicate value:  84.0 , original value:  nan
Index:  46 ,  cyr  duplicate value:  85.0 , original value:  nan
Index:  47 ,  cyr  duplicate value:  84.0 , original value:  nan
Index:  48 ,  cyr  duplicate value:  85.0 , original value:  nan
Index:  49 ,  cyr  duplicate value:  84.0 , original value:  nan
Index:  69 ,  cyr  duplicate value:  84.0 , original value:  nan
cyr done!!!

Col Name:  lvx1
7 nan
13 nan
14 nan
17 nan
22 nan
36 nan
40 nan
41 nan
42 nan
44 nan
47 nan
48 nan
49 nan
60 nan
64 nan
89 nan
93 nan
Index:  7 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  13 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  14 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  17 ,  lvx1  duplicate value:  3.0 , original value:  nan
Index:  22 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  36 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  40 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  41 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  42 ,  lvx1  duplicate value:  3.0 , original value:  nan
Index:  44 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  47 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  48 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  49 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  60 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  64 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  89 ,  lvx1  duplicate value:  1.0 , original value:  nan
Index:  93 ,  lvx1  duplicate value:  1.0 , original value:  nan
lvx1 done!!!

Col Name:  lvx2
7 nan
13 nan
14 nan
17 nan
22 nan
36 nan
40 nan
41 nan
42 nan
44 nan
47 nan
48 nan
49 nan
60 nan
64 nan
89 nan
93 nan
Index:  7 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  13 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  14 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  17 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  22 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  36 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  40 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  41 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  42 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  44 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  47 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  48 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  49 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  60 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  64 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  89 ,  lvx2  duplicate value:  1.0 , original value:  nan
Index:  93 ,  lvx2  duplicate value:  1.0 , original value:  nan
lvx2 done!!!

Col Name:  lvx3
7 nan
13 nan
14 nan
17 nan
22 nan
36 nan
40 nan
41 nan
42 nan
44 nan
47 nan
48 nan
49 nan
60 nan
64 nan
89 nan
93 nan
Index:  7 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  13 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  14 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  17 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  22 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  36 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  40 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  41 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  42 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  44 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  47 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  48 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  49 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  60 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  64 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  89 ,  lvx3  duplicate value:  1.0 , original value:  nan
Index:  93 ,  lvx3  duplicate value:  1.0 , original value:  nan
lvx3 done!!!

Col Name:  lvx4
7 nan
13 nan
14 nan
17 nan
22 nan
36 nan
40 nan
41 nan
42 nan
44 nan
47 nan
48 nan
49 nan
60 nan
64 nan
89 nan
93 nan

Index:  7 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  13 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  14 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  17 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  22 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  36 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  40 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  41 ,  lvx4  duplicate value:  4.0 , original value:  nan
Index:  42 ,  lvx4  duplicate value:  4.0 , original value:  nan
Index:  44 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  47 ,  lvx4  duplicate value:  3.0 , original value:  nan
Index:  48 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  49 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  60 ,  lvx4  duplicate value:  8.0 , original value:  nan
Index:  64 ,  lvx4  duplicate value:  3.0 , original value:  nan
Index:  89 ,  lvx4  duplicate value:  1.0 , original value:  nan
Index:  93 ,  lvx4  duplicate value:  1.0 , original value:  nan
lvx4 done!!!

Col Name:  lvf
7 nan
13 nan
17 nan
35 nan
40 nan
42 nan
44 nan
48 nan
49 nan
50 nan
60 nan
89 nan
93 nan
Index:  7 ,  lvf  duplicate value:  1.0 , original value:  nan
Index:  13 ,  lvf  duplicate value:  3.0 , original value:  nan
Index:  17 ,  lvf  duplicate value:  1.0 , original value:  nan
Index:  35 ,  lvf  duplicate value:  1.0 , original value:  nan
Index:  40 ,  lvf  duplicate value:  0.0 , original value:  nan
Index:  42 ,  lvf  duplicate value:  1.0 , original value:  nan
Index:  44 ,  lvf  duplicate value:  1.0 , original value:  nan
Index:  48 ,  lvf  duplicate value:  2.0 , original value:  nan
Index:  49 ,  lvf  duplicate value:  2.0 , original value:  nan
Index:  50 ,  lvf  duplicate value:  2.0 , original value:  nan
Index:  60 ,  lvf  duplicate value:  2.0 , original value:  nan
Index:  89 ,  lvf  duplicate value:  2.0 , original value:  nan
Index:  93 ,  lvf  duplicate value:  1.0 , original value:  nan
lvf done!!!

Col Name:  cathef
15 nan
30 nan
53 nan
60 nan
65 nan
66 nan
73 nan
79 nan
81 nan
87 nan
89 nan
92 nan
93 nan
103 nan
107 nan
114 nan
121 nan
Index:  15 ,  cathef  duplicate value:  70.0 , original value:  nan
Index:  30 ,  cathef  duplicate value:  65.0 , original value:  nan
Index:  53 ,  cathef  duplicate value:  53.0 , original value:  nan
Index:  60 ,  cathef  duplicate value:  70.0 , original value:  nan
Index:  65 ,  cathef  duplicate value:  63.0 , original value:  nan
Index:  66 ,  cathef  duplicate value:  68.0 , original value:  nan
Index:  73 ,  cathef  duplicate value:  75.0 , original value:  nan
Index:  79 ,  cathef  duplicate value:  57.0 , original value:  nan
Index:  81 ,  cathef  duplicate value:  62.0 , original value:  nan
Index:  87 ,  cathef  duplicate value:  54.0 , original value:  nan
Index:  89 ,  cathef  duplicate value:  64.0 , original value:  nan
Index:  92 ,  cathef  duplicate value:  62.0 , original value:  nan
Index:  93 ,  cathef  duplicate value:  60.0 , original value:  nan
Index:  103 ,  cathef  duplicate value:  66.0 , original value:  nan
Index:  107 ,  cathef  duplicate value:  53.0 , original value:  nan
Index:  114 ,  cathef  duplicate value:  68.0 , original value:  nan
Index:  121 ,  cathef  duplicate value:  55.0 , original value:  nan
cathef done!!!

In [20]:
print("No of rows with nan : ", sum([True for index,row in switzerland_ratio.iterrows() if any(row.isnull())]))

No of rows with nan :  0

In [21]:
switzerland_ratio.to_csv('datasets/switzerland_large.csv', index=False)

## Replacing with Mean

In [22]:
for col in cols_with_nan:
    col_mean_value = switzerland_mean[col].mean()
    print("Mean of", col, "attribute:", col_mean_value)
    switzerland_mean[col].fillna(value = col_mean_value, inplace = True)
    comparison_array = np.where(switzerland_mean[col] == switzerland_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mean of trestbps attribute: 130.20661157024793
No of changes in col: trestbps :  2
Mean of htn attribute: 0.3548387096774194
No of changes in col: htn :  30
Mean of fbs attribute: 0.10416666666666667
No of changes in col: fbs :  75
Mean of restecg attribute: 0.36065573770491804
No of changes in col: restecg :  1
Mean of ekgmo attribute: 4.5
No of changes in col: ekgmo :  1
Mean of ekgday attribute: 15.721311475409836
No of changes in col: ekgday :  1
Mean of ekgyr attribute: 84.6311475409836
No of changes in col: ekgyr :  1
Mean of dig attribute: 0.01694915254237288
No of changes in col: dig :  5
Mean of prop attribute: 0.4214876033057851
No of changes in col: prop :  2
Mean of nitr attribute: 0.375
No of changes in col: nitr :  3
Mean of pro attribute: 0.45901639344262296
No of changes in col: pro :  1
Mean of diuretic attribute: 0.20512820512820512
No of changes in col: diuretic :  6
Mean of thaldur attribute: 7.427049180327868
No of changes in col: thaldur :  1
Mean of thalach attribute: 121.55737704918033
No of changes in col: thalach :  1
Mean of thalrest attribute: 69.91803278688525
No of changes in col: thalrest :  1
Mean of tpeakbps attribute: 166.08333333333334
No of changes in col: tpeakbps :  3
Mean of tpeakbpd attribute: 85.79166666666667
No of changes in col: tpeakbpd :  3
Mean of dummy attribute: 130.20661157024793
No of changes in col: dummy :  2
Mean of trestbpd attribute: 81.94214876033058
No of changes in col: trestbpd :  2
Mean of exang attribute: 0.4426229508196721
No of changes in col: exang :  1
Mean of xhypo attribute: 0.058333333333333334
No of changes in col: xhypo :  3
Mean of oldpeak attribute: 0.6538461538461539
No of changes in col: oldpeak :  6
Mean of slope attribute: 1.8018867924528301
No of changes in col: slope :  17
Mean of ca attribute: 1.6
No of changes in col: ca :  118
Mean of thal attribute: 5.698630136986301
No of changes in col: thal :  50
Mean of cmo attribute: 4.7894736842105265
No of changes in col: cmo :  9
Mean of cday attribute: 15.991228070175438
No of changes in col: cday :  9
Mean of cyr attribute: 84.59649122807018
No of changes in col: cyr :  9
Mean of lvx1 attribute: 1.169811320754717
No of changes in col: lvx1 :  17
Mean of lvx2 attribute: 1.1226415094339623
No of changes in col: lvx2 :  17
Mean of lvx3 attribute: 1.2452830188679245
No of changes in col: lvx3 :  17
Mean of lvx4 attribute: 1.5188679245283019
No of changes in col: lvx4 :  17
Mean of lvf attribute: 1.490909090909091
No of changes in col: lvf :  13
Mean of cathef attribute: 63.924528301886795
No of changes in col: cathef :  17

In [23]:
# switzerland_mean.to_csv('datasets/switzerland_large.csv', index=False)

## Replacing with Mode

In [24]:
for col in cols_with_nan:
    col_mode_value = switzerland_mode[col].mode()
    print("Mode of", col, "attribute:", col_mode_value)
    switzerland_mode[col].fillna(value = col_mode_value, inplace = True)
    comparison_array = np.where(switzerland_mode[col] == switzerland_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mode of trestbps attribute: 0    115.0
dtype: float64
No of changes in col: trestbps :  2
Mode of htn attribute: 0    0.0
dtype: float64
No of changes in col: htn :  30
Mode of fbs attribute: 0    0.0
dtype: float64
No of changes in col: fbs :  75
Mode of restecg attribute: 0    0.0
dtype: float64
No of changes in col: restecg :  1
Mode of ekgmo attribute: 0    1.0
dtype: float64
No of changes in col: ekgmo :  1
Mode of ekgday attribute: 0    6.0
dtype: float64
No of changes in col: ekgday :  1
Mode of ekgyr attribute: 0    85.0
dtype: float64
No of changes in col: ekgyr :  1
Mode of dig attribute: 0    0.0
dtype: float64
No of changes in col: dig :  5
Mode of prop attribute: 0    0.0
dtype: float64
No of changes in col: prop :  2
Mode of nitr attribute: 0    0.0
dtype: float64
No of changes in col: nitr :  3
Mode of pro attribute: 0    0.0
dtype: float64
No of changes in col: pro :  1
Mode of diuretic attribute: 0    0.0
dtype: float64
No of changes in col: diuretic :  6
Mode of thaldur attribute: 0    9.0
dtype: float64
No of changes in col: thaldur :  1
Mode of thalach attribute: 0    120.0
dtype: float64
No of changes in col: thalach :  1
Mode of thalrest attribute: 0    70.0
dtype: float64
No of changes in col: thalrest :  1
Mode of tpeakbps attribute: 0    160.0
dtype: float64
No of changes in col: tpeakbps :  3
Mode of tpeakbpd attribute: 0    80.0
dtype: float64
No of changes in col: tpeakbpd :  3
Mode of dummy attribute: 0    115.0
dtype: float64
No of changes in col: dummy :  2
Mode of trestbpd attribute: 0    80.0
dtype: float64
No of changes in col: trestbpd :  2
Mode of exang attribute: 0    0.0
dtype: float64
No of changes in col: exang :  1
Mode of xhypo attribute: 0    0.0
dtype: float64
No of changes in col: xhypo :  3
Mode of oldpeak attribute: 0    0.0
dtype: float64
No of changes in col: oldpeak :  6
Mode of slope attribute: 0    2.0
dtype: float64
No of changes in col: slope :  17
Mode of ca attribute: 0    2.0
dtype: float64
No of changes in col: ca :  118
Mode of thal attribute: 0    7.0
dtype: float64
No of changes in col: thal :  50
Mode of cmo attribute: 0    3.0
dtype: float64
No of changes in col: cmo :  9
Mode of cday attribute: 0    4.0
dtype: float64
No of changes in col: cday :  9
Mode of cyr attribute: 0    85.0
dtype: float64
No of changes in col: cyr :  9
Mode of lvx1 attribute: 0    1.0
dtype: float64
No of changes in col: lvx1 :  17
Mode of lvx2 attribute: 0    1.0
dtype: float64
No of changes in col: lvx2 :  17
Mode of lvx3 attribute: 0    1.0
dtype: float64
No of changes in col: lvx3 :  17
Mode of lvx4 attribute: 0    1.0
dtype: float64
No of changes in col: lvx4 :  17
Mode of lvf attribute: 0    1.0
dtype: float64
No of changes in col: lvf :  13
Mode of cathef attribute: 0    65.0
1    67.0
dtype: float64
No of changes in col: cathef :  17

In [25]:
# switzerland_mode.to_csv('datasets/switzerland_large.csv', index=False)

## Replacing with Median

In [26]:
for col in cols_with_nan:
    col_median_value = switzerland_median[col].median()
    print("Mode of", col, "attribute:", col_median_value)
    switzerland_median[col].fillna(value = col_median_value, inplace = True)
    comparison_array = np.where(switzerland_median[col] == switzerland_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mode of trestbps attribute: 125.0
No of changes in col: trestbps :  2
Mode of htn attribute: 0.0
No of changes in col: htn :  30
Mode of fbs attribute: 0.0
No of changes in col: fbs :  75
Mode of restecg attribute: 0.0
No of changes in col: restecg :  1
Mode of ekgmo attribute: 3.5
No of changes in col: ekgmo :  1
Mode of ekgday attribute: 17.0
No of changes in col: ekgday :  1
Mode of ekgyr attribute: 85.0
No of changes in col: ekgyr :  1
Mode of dig attribute: 0.0
No of changes in col: dig :  5
Mode of prop attribute: 0.0
No of changes in col: prop :  2
Mode of nitr attribute: 0.0
No of changes in col: nitr :  3
Mode of pro attribute: 0.0
No of changes in col: pro :  1
Mode of diuretic attribute: 0.0
No of changes in col: diuretic :  6
Mode of thaldur attribute: 7.0
No of changes in col: thaldur :  1
Mode of thalach attribute: 121.0
No of changes in col: thalach :  1
Mode of thalrest attribute: 70.0
No of changes in col: thalrest :  1
Mode of tpeakbps attribute: 162.5
No of changes in col: tpeakbps :  3
Mode of tpeakbpd attribute: 85.0
No of changes in col: tpeakbpd :  3
Mode of dummy attribute: 125.0
No of changes in col: dummy :  2
Mode of trestbpd attribute: 80.0
No of changes in col: trestbpd :  2
Mode of exang attribute: 0.0
No of changes in col: exang :  1
Mode of xhypo attribute: 0.0
No of changes in col: xhypo :  3
Mode of oldpeak attribute: 0.3
No of changes in col: oldpeak :  6
Mode of slope attribute: 2.0
No of changes in col: slope :  17
Mode of ca attribute: 2.0
No of changes in col: ca :  118
Mode of thal attribute: 7.0
No of changes in col: thal :  50
Mode of cmo attribute: 4.0
No of changes in col: cmo :  9
Mode of cday attribute: 17.5
No of changes in col: cday :  9
Mode of cyr attribute: 85.0
No of changes in col: cyr :  9
Mode of lvx1 attribute: 1.0
No of changes in col: lvx1 :  17
Mode of lvx2 attribute: 1.0
No of changes in col: lvx2 :  17
Mode of lvx3 attribute: 1.0
No of changes in col: lvx3 :  17
Mode of lvx4 attribute: 1.0
No of changes in col: lvx4 :  17
Mode of lvf attribute: 1.0
No of changes in col: lvf :  13
Mode of cathef attribute: 65.0
No of changes in col: cathef :  17

In [27]:
# switzerland_median.to_csv('datasets/switzerland_large.csv', index=False)

# Hungarian Datafile

## Finding Errors in Data / Missing Data

In [28]:
# Opens hungarian.data, iterates lines, takes in data and stores as a list of rows
hungarian_datafile = open('raw_data/hungarian.data', 'r', errors='ignore')

hungarian_wrong_data_lines = list() # Stores datalines with incorrect size of elements
hungarian_wrong_name_lines = list() # Stores datalines with wrong name attribute

i = 1

for line in hungarian_datafile:
    linecontent = line.split()
    if i % 10 == 1:
        if len(linecontent) != 7:
            hungarian_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
    elif i%10 in range(2, 10):
        if len(linecontent) != 8:
            hungarian_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
    elif i%10 == 0:
        if len(linecontent) != 5:
            hungarian_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
        if linecontent[-1] != 'name':
            hungarian_wrong_name_lines.append({'line_no': i, 'line_size': len(linecontent)})
    i += 1

print("Current i value (no of lines): ", i)

hungarian_datafile.close()

print("Lines with wrong number of elements are: ")
print(hungarian_wrong_data_lines)

print("Lines with wrong name attribute: ")
print(hungarian_wrong_data_lines)

Current i value (no of lines):  2942
Lines with wrong number of elements are:
[{'line_no': 2941, 'line_size': 0}]
Lines with wrong name attribute:
[{'line_no': 2941, 'line_size': 0}]

## Inference

Here, we see that 1230 lines of data exist amounting to around 123 data points.

## Creating the Dataset

In [29]:
hungarian_datafile = open('raw_data/hungarian.data', 'r', errors='ignore')

hungarian_dataset = list()
hungarian_datarow = list()

i = 0

for line in hungarian_datafile:
    i += 1
    if i > 1230:
        break
    linecontent = line.split()
    hungarian_datarow.extend(linecontent)
    if i % 10 == 0:
        row_clone = hungarian_datarow.copy()
        if len(row_clone)== 76:
            hungarian_dataset.append(row_clone)
        else:
            print(row_clone)
        hungarian_datarow.clear()
        
hungarian_datafile.close()

print("No of datapoints: ", len(hungarian_dataset))

df = pd.DataFrame(hungarian_dataset, columns=headers)
# The first version of the dataset is a direct raw conversion of the .data file to .csv file
df.to_csv('datasets/hungarian_raw.csv', index=False) 

del df

No of datapoints:  123

In [30]:
hungarian_data = pd.read_csv('datasets/hungarian_raw.csv')
hungarian_data.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk,name
0,1254,0,40,1,1,0,0,-9,2,140,...,-9,-9,1,1,1,1,1,-9.0,-9.0,name
1,1255,0,49,0,1,0,0,-9,3,160,...,-9,-9,1,1,1,1,1,-9.0,-9.0,name
2,1256,0,37,1,1,0,0,-9,2,130,...,-9,-9,1,1,1,1,1,-9.0,-9.0,name
3,1257,0,48,0,1,1,1,-9,4,138,...,2,-9,1,1,1,1,1,-9.0,-9.0,name
4,1258,0,54,1,1,0,1,-9,3,150,...,1,-9,1,1,1,1,1,-9.0,-9.0,name

In [31]:
hungarian_data.describe()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk
count,123.000000,123.0,123.000000,123.000000,123.000000,123.000000,123.000000,123.0,123.000000,123.000000,...,123.000000,123.000000,123.000000,123.0,123.000000,123.000000,123.000000,123.000000,123.000000,123.0
mean,1246.317073,0.0,47.105691,0.674797,0.959350,0.455285,0.544715,-9.0,2.991870,131.048780,...,-8.731707,-7.333333,-8.113821,1.0,1.016260,1.056911,1.447154,1.113821,-6.162602,-9.0
std,37.834479,0.0,8.176148,0.470367,0.198287,0.500033,0.500033,0.0,0.962374,15.865652,...,1.703772,3.918570,2.992349,0.0,0.180334,0.449058,1.537527,0.388424,13.090088,0.0
min,1183.000000,0.0,31.000000,0.000000,0.000000,0.000000,0.000000,-9.0,1.000000,100.000000,...,-9.000000,-9.000000,-9.000000,1.0,1.000000,1.000000,1.000000,1.000000,-9.000000,-9.0
25%,1213.500000,0.0,40.500000,0.000000,1.000000,0.000000,0.000000,-9.0,2.000000,120.000000,...,-9.000000,-9.000000,-9.000000,1.0,1.000000,1.000000,1.000000,1.000000,-9.000000,-9.0
50%,1244.000000,0.0,48.000000,1.000000,1.000000,0.000000,1.000000,-9.0,3.000000,130.000000,...,-9.000000,-9.000000,-9.000000,1.0,1.000000,1.000000,1.000000,1.000000,-9.000000,-9.0
75%,1279.500000,0.0,53.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,140.000000,...,-9.000000,-9.000000,-9.000000,1.0,1.000000,1.000000,1.000000,1.000000,-9.000000,-9.0
max,1310.000000,0.0,66.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,190.000000,...,2.000000,2.000000,2.000000,1.0,3.000000,5.000000,8.000000,4.000000,67.000000,-9.0

In [32]:
hungarian_data = hungarian_data.replace(-9, np.nan)

In [33]:
# Removing ID and Name columns as they are useless

hungarian_data = hungarian_data.drop(['id', 'name'], axis = 1)

In [34]:
# Removing columns with constant data

drop_cols = list()

for col in hungarian_data.columns.values:
    if hungarian_data[col].std() == 0:
        drop_cols.append(col)
        
print("Columns to be dropped: ", drop_cols)
print("No of rows to be dropped: ", len(drop_cols))

Columns to be dropped:  ['ccf', 'dm', 'dig', 'diuretic', 'om2', 'lvx1']
No of rows to be dropped:  6

In [35]:
# Removing columns with all nan values

for col in hungarian_data.columns.values:
    if np.isnan(hungarian_data[col].std()):
        drop_cols.append(col)
        
print(drop_cols)
print("No of rows to be dropped: ", len(drop_cols))

['ccf', 'dm', 'dig', 'diuretic', 'om2', 'lvx1', 'pncaden', 'cigs', 'years', 'famhist', 'ca', 'restckm', 'exerckm', 'restef', 'restwm', 'exeref', 'exerwm', 'earlobe', 'junk']
No of rows to be dropped:  19

In [36]:
# Dropping all unnecessary columns

hungarian_data = hungarian_data.drop(drop_cols, axis=1)

In [37]:
# Identifying columns with NaN values

cols_with_nan = hungarian_data.columns.values[hungarian_data.isna().any()]
display(cols_with_nan)

array(['chol', 'smoke', 'fbs', 'prop', 'nitr', 'pro', 'proto', 'thaldur',
       'thaltime', 'slope', 'thal', 'thalsev', 'thalpul', 'lmt',
       'ladprox', 'laddist', 'diag', 'cxmain', 'ramus', 'om1', 'rcaprox',
       'rcadist', 'cathef'], dtype=object)

In [38]:
nan_count = dict()

for col in cols_with_nan:
    nan_count[col] = hungarian_data[col].isna().sum()
    print('Column Name: ', col)
    print('NaN Count: ', nan_count[col])
    print(hungarian_data[col].value_counts())
    print("\n")

Column Name:  chol
NaN Count:  6
224.0    3
207.0    3
260.0    3
223.0    3
248.0    2
        ..
259.0    1
264.0    1
294.0    1
230.0    1
240.0    1
Name: chol, Length: 90, dtype: int64


Column Name:  smoke
NaN Count:  115
0.0    7
1.0    1
Name: smoke, dtype: int64


Column Name:  fbs
NaN Count:  3
0.0    110
1.0     10
Name: fbs, dtype: int64


Column Name:  prop
NaN Count:  2
0.0    117
1.0      4
Name: prop, dtype: int64


Column Name:  nitr
NaN Count:  1
0.0    109
1.0     13
Name: nitr, dtype: int64


Column Name:  pro
NaN Count:  1
0.0    111
1.0     11
Name: pro, dtype: int64


Column Name:  proto
NaN Count:  3
75.0     34
100.0    26
125.0    19
50.0     14
150.0    12
25.0      9
175.0     4
200.0     2
Name: proto, dtype: int64


Column Name:  thaldur
NaN Count:  1
10.0    14
7.0     12
9.0     12
12.0     9
13.0     8
8.0      7
6.0      7
14.0     6
11.0     6
4.0      5
3.0      4
18.0     4
15.0     4
19.0     4
2.0      4
17.0     3
16.0     3
5.0      2
20.0     2
7.5      1
21.0     1
1.5      1
16.5     1
6.5      1
24.0     1
Name: thaldur, dtype: int64


Column Name:  thaltime
NaN Count:  79
6.0     5
2.0     3
3.0     3
1.0     3
8.0     3
4.5     2
15.0    2
6.5     2
7.0     2
4.0     2
9.0     2
5.5     2
10.0    2
12.0    2
7.5     1
8.5     1
13.0    1
19.0    1
3.5     1
5.0     1
11.0    1
13.5    1
1.5     1
Name: thaltime, dtype: int64


Column Name:  slope
NaN Count:  80
2.0    42
1.0     1
Name: slope, dtype: int64


Column Name:  thal
NaN Count:  107
3.0    6
6.0    6
7.0    4
Name: thal, dtype: int64


Column Name:  thalsev
NaN Count:  108
2.0    9
0.0    5
3.0    1
Name: thalsev, dtype: int64


Column Name:  thalpul
NaN Count:  108
1.0    10
0.0     5
Name: thalpul, dtype: int64


Column Name:  lmt
NaN Count:  118
2.0    3
1.0    2
Name: lmt, dtype: int64


Column Name:  ladprox
NaN Count:  99
2.0    18
1.0     6
Name: ladprox, dtype: int64


Column Name:  laddist
NaN Count:  101
2.0    14
1.0     8
Name: laddist, dtype: int64


Column Name:  diag
NaN Count:  119
2.0    3
1.0    1
Name: diag, dtype: int64


Column Name:  cxmain
NaN Count:  97
2.0    22
1.0     4
Name: cxmain, dtype: int64


Column Name:  ramus
NaN Count:  120
2.0    2
1.0    1
Name: ramus, dtype: int64


Column Name:  om1
NaN Count:  112
2.0    10
1.0     1
Name: om1, dtype: int64


Column Name:  rcaprox
NaN Count:  104
2.0    15
1.0     4
Name: rcaprox, dtype: int64


Column Name:  rcadist
NaN Count:  113
2.0    9
1.0    1
Name: rcadist, dtype: int64


Column Name:  cathef
NaN Count:  117
67.0    1
59.0    1
18.0    1
45.0    1
44.0    1
62.0    1
Name: cathef, dtype: int64

In [39]:
print("No of rows with nan : ", sum([True for index,row in hungarian_data.iterrows() if any(row.isnull())]))

No of rows with nan :  123

## Filling NaN with Other Values

Here we fill NaN with other values in the column using probability of finding the value in the column as the criteria

In [40]:
cols_to_be_removed = list()

for col in cols_with_nan:
    if hungarian_data[col].isna().sum() > 0.25*hungarian_data.shape[0] and col not in selected_columns:
        cols_to_be_removed.append(col)
        
print(cols_to_be_removed)

['smoke', 'thaltime', 'thalsev', 'thalpul', 'lmt', 'ladprox', 'laddist', 'diag', 'cxmain', 'ramus', 'om1', 'rcaprox', 'rcadist', 'cathef']

In [41]:
# Dropping these columns

hungarian_data = hungarian_data.drop(cols_to_be_removed, axis = 1)

In [42]:
hungarian_ratio = hungarian_data.copy()
hungarian_mean = hungarian_data.copy()
hungarian_mode = hungarian_data.copy()
hungarian_median = hungarian_data.copy()

In [43]:
print("No of rows with nan : ", sum([True for index,row in hungarian_data.iterrows() if any(row.isnull())]))

No of rows with nan :  117

## Imputing with proportion of each value in dataset

In [44]:
cols_with_nan = hungarian_ratio.columns.values[hungarian_ratio.isna().any()]

for col in cols_with_nan:
    print("Col Name: ", col, "")
    
    col_duplicate = hungarian_ratio[col].copy()
    
    for index, val in col_duplicate.iteritems():
        if np.isnan(val):
            print(index, val)
        
    col_probabilities = []
        
    for index, val in col_duplicate.value_counts().iteritems():
        col_probabilities.append(round(val/col_duplicate.value_counts().sum(), 2))
    
    for i in range(len(col_probabilities)):
        if round(sum(col_probabilities), 2) >= 1:
            break
        col_probabilities[i] += 0.01
    
    for i in range(len(col_probabilities)):
        if round(sum(col_probabilities), 2) <= 1:
            break
        col_probabilities[i] -= 0.01
    
    col_values = col_duplicate.value_counts().index.values.tolist()
        
    col_duplicate = col_duplicate.fillna(pd.Series(np.random.choice(col_values, 
                                                                      p=col_probabilities, size=len(col_duplicate))))
        
    for index, val in hungarian_ratio[col].iteritems():
        if col_duplicate[index] != val:
            print("Index: ", index, ", ", col, " duplicate value: ", col_duplicate[index], ", original value: ", val)
            
    hungarian_ratio[col] = col_duplicate.copy()
    
    print(col, "done!!!\n")

Col Name:  chol
4 nan
31 nan
38 nan
61 nan
85 nan
90 nan
Index:  4 ,  chol  duplicate value:  297.0 , original value:  nan
Index:  31 ,  chol  duplicate value:  201.0 , original value:  nan
Index:  38 ,  chol  duplicate value:  206.0 , original value:  nan
Index:  61 ,  chol  duplicate value:  291.0 , original value:  nan
Index:  85 ,  chol  duplicate value:  207.0 , original value:  nan
Index:  90 ,  chol  duplicate value:  248.0 , original value:  nan
chol done!!!

Col Name:  fbs
28 nan
75 nan
103 nan
Index:  28 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  75 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  103 ,  fbs  duplicate value:  0.0 , original value:  nan
fbs done!!!

Col Name:  prop
30 nan
40 nan
Index:  30 ,  prop  duplicate value:  0.0 , original value:  nan
Index:  40 ,  prop  duplicate value:  0.0 , original value:  nan
prop done!!!

Col Name:  nitr
40 nan
Index:  40 ,  nitr  duplicate value:  0.0 , original value:  nan
nitr done!!!

Col Name:  pro
40 nan
Index:  40 ,  pro  duplicate value:  0.0 , original value:  nan
pro done!!!

Col Name:  proto
1 nan
60 nan
80 nan
Index:  1 ,  proto  duplicate value:  150.0 , original value:  nan
Index:  60 ,  proto  duplicate value:  50.0 , original value:  nan
Index:  80 ,  proto  duplicate value:  25.0 , original value:  nan
proto done!!!

Col Name:  thaldur
40 nan
Index:  40 ,  thaldur  duplicate value:  16.0 , original value:  nan
thaldur done!!!

Col Name:  slope
0 nan
2 nan
4 nan
5 nan
6 nan
7 nan
9 nan
10 nan
12 nan
14 nan
16 nan
17 nan
20 nan
22 nan
24 nan
25 nan
27 nan
28 nan
29 nan
30 nan
31 nan
34 nan
35 nan
37 nan
38 nan
40 nan
42 nan
43 nan
46 nan
47 nan
49 nan
52 nan
53 nan
55 nan
57 nan
60 nan
61 nan
62 nan
64 nan
65 nan
66 nan
67 nan
69 nan
71 nan
72 nan
73 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 nan
81 nan
82 nan
83 nan
88 nan
90 nan
91 nan
92 nan
94 nan
96 nan
97 nan
98 nan
99 nan
101 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
112 nan
113 nan
114 nan
116 nan
118 nan
119 nan
120 nan
121 nan
122 nan
Index:  0 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  2 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  4 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  5 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  6 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  7 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  9 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  10 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  12 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  14 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  16 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  17 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  20 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  22 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  24 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  25 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  27 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  28 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  29 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  30 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  31 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  34 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  35 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  37 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  38 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  40 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  42 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  43 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  46 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  47 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  49 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  52 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  53 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  55 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  57 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  60 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  61 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  62 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  64 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  65 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  66 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  67 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  69 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  71 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  72 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  73 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  75 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  76 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  77 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  78 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  79 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  80 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  81 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  82 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  83 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  88 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  90 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  91 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  92 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  94 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  96 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  97 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  98 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  99 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  101 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  104 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  105 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  106 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  107 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  108 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  109 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  112 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  113 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  114 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  116 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  118 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  119 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  120 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  121 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  122 ,  slope  duplicate value:  2.0 , original value:  nan
slope done!!!

Col Name:  thal
0 nan
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
52 nan
53 nan
54 nan
55 nan
56 nan
58 nan
59 nan
60 nan
62 nan
63 nan
64 nan
65 nan
66 nan
67 nan
68 nan
69 nan
70 nan
71 nan
72 nan
73 nan
74 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 nan
81 nan
82 nan
83 nan
84 nan
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
91 nan
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 nan
100 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
Index:  0 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  1 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  2 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  3 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  4 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  5 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  6 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  7 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  8 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  9 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  10 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  11 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  12 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  13 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  14 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  15 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  16 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  17 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  18 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  19 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  20 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  21 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  22 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  23 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  24 ,  thal  duplicate value:  3.0 , original value:  nan

Index:  25 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  26 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  27 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  28 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  29 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  30 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  31 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  32 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  33 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  34 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  35 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  36 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  37 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  38 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  39 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  40 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  41 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  42 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  43 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  52 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  53 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  54 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  55 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  56 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  58 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  59 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  60 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  62 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  63 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  64 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  65 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  66 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  67 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  68 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  69 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  70 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  71 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  72 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  73 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  74 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  75 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  76 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  77 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  78 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  79 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  80 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  81 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  82 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  83 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  84 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  85 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  86 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  87 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  88 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  89 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  90 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  91 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  92 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  93 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  94 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  95 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  96 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  97 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  98 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  99 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  100 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  106 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  107 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  108 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  109 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  110 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  111 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  112 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  113 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  114 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  115 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  116 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  117 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  118 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  119 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  120 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  121 ,  thal  duplicate value:  6.0 , original value:  nan
thal done!!!

In [45]:
print("No of rows with nan : ", sum([True for index,row in hungarian_ratio.iterrows() if any(row.isnull())]))

No of rows with nan :  0

In [46]:
hungarian_ratio.to_csv('datasets/hungarian_large.csv', index=False)

## Replacing with Mean

In [47]:
for col in cols_with_nan:
    col_mean_value = hungarian_mean[col].mean()
    print("Mean of", col, "attribute:", col_mean_value)
    hungarian_mean[col].fillna(value = col_mean_value, inplace = True)
    comparison_array = np.where(hungarian_mean[col] == hungarian_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mean of chol attribute: 246.16239316239316
No of changes in col: chol :  6
Mean of fbs attribute: 0.08333333333333333
No of changes in col: fbs :  3
Mean of prop attribute: 0.03305785123966942
No of changes in col: prop :  2
Mean of nitr attribute: 0.10655737704918032
No of changes in col: nitr :  1
Mean of pro attribute: 0.09016393442622951
No of changes in col: pro :  1
Mean of proto attribute: 94.58333333333333
No of changes in col: proto :  3
Mean of thaldur attribute: 10.37704918032787
No of changes in col: thaldur :  1
Mean of slope attribute: 1.9767441860465116
No of changes in col: slope :  80
Mean of thal attribute: 5.125
No of changes in col: thal :  107

In [48]:
# hungarian_mean.to_csv('datasets/hungarian_large.csv', index=False)

## Replacing with Mode

In [49]:
for col in cols_with_nan:
    col_mode_value = hungarian_mode[col].mode()
    print("Mode of", col, "attribute:", col_mode_value)
    hungarian_mode[col].fillna(value = col_mode_value, inplace = True)
    comparison_array = np.where(hungarian_mode[col] == hungarian_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mode of chol attribute: 0    207.0
1    223.0
2    224.0
3    260.0
dtype: float64
No of changes in col: chol :  6
Mode of fbs attribute: 0    0.0
dtype: float64
No of changes in col: fbs :  3
Mode of prop attribute: 0    0.0
dtype: float64
No of changes in col: prop :  2
Mode of nitr attribute: 0    0.0
dtype: float64
No of changes in col: nitr :  1
Mode of pro attribute: 0    0.0
dtype: float64
No of changes in col: pro :  1
Mode of proto attribute: 0    75.0
dtype: float64
No of changes in col: proto :  3
Mode of thaldur attribute: 0    10.0
dtype: float64
No of changes in col: thaldur :  1
Mode of slope attribute: 0    2.0
dtype: float64
No of changes in col: slope :  80
Mode of thal attribute: 0    3.0
1    6.0
dtype: float64
No of changes in col: thal :  107

In [50]:
# hungarian_mode.to_csv('datasets/hungarian_large.csv', index=False)

## Replacing with Median

In [51]:
for col in cols_with_nan:
    col_median_value = hungarian_median[col].median()
    print("Mode of", col, "attribute:", col_median_value)
    hungarian_median[col].fillna(value = col_median_value, inplace = True)
    comparison_array = np.where(hungarian_median[col] == hungarian_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mode of chol attribute: 234.0
No of changes in col: chol :  6
Mode of fbs attribute: 0.0
No of changes in col: fbs :  3
Mode of prop attribute: 0.0
No of changes in col: prop :  2
Mode of nitr attribute: 0.0
No of changes in col: nitr :  1
Mode of pro attribute: 0.0
No of changes in col: pro :  1
Mode of proto attribute: 100.0
No of changes in col: proto :  3
Mode of thaldur attribute: 10.0
No of changes in col: thaldur :  1
Mode of slope attribute: 2.0
No of changes in col: slope :  80
Mode of thal attribute: 6.0
No of changes in col: thal :  107

In [52]:
# hungarian_median.to_csv('datasets/hungarian_large.csv', index=False)

# Long Beach Datafile

## Finding Errors in Data / Missing Data

In [53]:
# Opens long-beach-va.data, iterates lines, takes in data and stores as a list of rows
longbeach_datafile = open('raw_data/long-beach-va.data', 'r', errors='ignore')

longbeach_wrong_data_lines = list() # Stores datalines with incorrect size of elements
longbeach_wrong_name_lines = list() # Stores datalines with wrong name attribute

i = 1

for line in longbeach_datafile:
    linecontent = line.split()
    if i % 10 == 1:
        if len(linecontent) != 7:
            longbeach_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
    elif i%10 in range(2, 10):
        if len(linecontent) != 8:
            longbeach_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
    elif i%10 == 0:
        if len(linecontent) != 5:
            longbeach_wrong_data_lines.append({'line_no': i, 'line_size': len(linecontent)})
        if linecontent[-1] != 'name':
            longbeach_wrong_name_lines.append({'line_no': i, 'line_size': len(linecontent)})
    i += 1

print("Current i value (no of lines): ", i)

longbeach_datafile.close()

print("Lines with wrong number of elements are: ")
print(longbeach_wrong_name_lines)

print("Lines with wrong name attribute: ")
print(longbeach_wrong_data_lines)

Current i value (no of lines):  2002
Lines with wrong number of elements are:
[]
Lines with wrong name attribute:
[{'line_no': 2001, 'line_size': 0}]

## Inference

Here, we see that 1230 lines of data exist amounting to around 123 data points.

## Creating the Dataset

In [54]:
longbeach_datafile = open('raw_data/long-beach-va.data', 'r', errors='ignore')

longbeach_dataset = list()
longbeach_datarow = list()

i = 0

for line in longbeach_datafile:
    i += 1
    if i > 1230:
        break
    linecontent = line.split()
    longbeach_datarow.extend(linecontent)
    if i % 10 == 0:
        row_clone = longbeach_datarow.copy()
        if len(row_clone)== 76:
            longbeach_dataset.append(row_clone)
        else:
            print(row_clone)
        longbeach_datarow.clear()
        
longbeach_datafile.close()

print("No of datapoints: ", len(longbeach_dataset))

df = pd.DataFrame(longbeach_dataset, columns=headers)
# The first version of the dataset is a direct raw conversion of the .data file to .csv file
df.to_csv('datasets/longbeach_raw.csv', index=False) 

del df

No of datapoints:  123

In [55]:
longbeach_data = pd.read_csv('datasets/longbeach_raw.csv')
longbeach_data.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk,name
0,1,0,63,1,1,1,1,-9,4,140,...,2,1,1,1,1,1,1,0.70,5.5,name
1,2,0,44,1,1,1,1,-9,4,130,...,1,1,1,1,1,1,1,0.50,-9.0,name
2,3,0,60,1,1,1,1,-9,4,132,...,2,1,1,1,1,7,2,0.52,4.1,name
3,4,0,55,1,1,1,1,-9,4,142,...,1,1,1,1,1,1,1,0.73,6.5,name
4,5,0,66,1,1,0,0,-9,3,110,...,1,1,1,1,1,1,1,0.73,8.0,name

In [56]:
longbeach_data.describe()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,om2,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk
count,123.000000,123.0,123.000000,123.000000,123.000000,123.000000,123.000000,123.0,123.000000,123.000000,...,123.000000,123.000000,123.000000,123.0,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000
mean,62.146341,0.0,59.081301,0.983740,0.943089,0.666667,0.626016,-9.0,3.520325,95.967480,...,1.056911,1.422764,1.154472,1.0,1.097561,1.178862,2.195122,1.235772,0.275528,0.560163
std,35.895496,0.0,7.600252,0.126992,0.232619,0.473333,1.564977,0.0,0.771942,64.134456,...,0.232619,0.496019,0.362878,0.0,0.823971,0.713253,2.260344,0.702236,1.922179,7.297380
min,1.000000,0.0,35.000000,0.000000,0.000000,0.000000,-9.000000,-9.0,1.000000,-9.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,0.000000,-9.000000,-9.000000
25%,31.500000,0.0,55.000000,1.000000,1.000000,0.000000,1.000000,-9.0,3.000000,-4.500000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.570000,-9.000000
50%,62.000000,0.0,60.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,124.000000,...,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.700000,4.400000
75%,92.500000,0.0,63.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,139.000000,...,1.000000,2.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,0.775000,6.000000
max,126.000000,0.0,77.000000,1.000000,1.000000,1.000000,1.000000,-9.0,4.000000,180.000000,...,2.000000,2.000000,2.000000,1.0,10.000000,5.000000,7.000000,5.000000,0.890000,11.300000

In [57]:
longbeach_data = longbeach_data.replace(-9, np.nan)

In [58]:
# Removing ID and Name columns as they are useless

longbeach_data = longbeach_data.drop(['id', 'name'], axis = 1)

In [59]:
# Removing columns with constant data

drop_cols = list()

for col in longbeach_data.columns.values:
    if longbeach_data[col].std() == 0:
        drop_cols.append(col)
        
print("Columns to be dropped: ", drop_cols)
print("No of rows to be dropped: ", len(drop_cols))

Columns to be dropped:  ['ccf', 'ca', 'lvx1']
No of rows to be dropped:  3

In [60]:
# Removing columns with all nan values

for col in longbeach_data.columns.values:
    if np.isnan(longbeach_data[col].std()):
        drop_cols.append(col)
        
print(drop_cols)
print("No of rows to be dropped: ", len(drop_cols))

['ccf', 'ca', 'lvx1', 'pncaden', 'restckm', 'exerckm', 'thalpul', 'earlobe']
No of rows to be dropped:  8

In [61]:
# Dropping all unnecessary columns

longbeach_data = longbeach_data.drop(drop_cols, axis=1)

In [62]:
# Identifying columns with NaN values

cols_with_nan = longbeach_data.columns.values[longbeach_data.isna().any()]
display(cols_with_nan)

array(['relrest', 'trestbps', 'htn', 'chol', 'smoke', 'cigs', 'years',
       'fbs', 'dm', 'famhist', 'ekgmo', 'ekgday', 'ekgyr', 'dig', 'prop',
       'nitr', 'pro', 'diuretic', 'proto', 'thaldur', 'thaltime', 'met',
       'thalach', 'thalrest', 'tpeakbps', 'tpeakbpd', 'dummy', 'trestbpd',
       'exang', 'xhypo', 'oldpeak', 'slope', 'rldv5', 'rldv5e', 'restef',
       'restwm', 'exeref', 'exerwm', 'thal', 'thalsev', 'cathef', 'junk'],
      dtype=object)

In [63]:
nan_count = dict()

for col in cols_with_nan:
    nan_count[col] = longbeach_data[col].isna().sum()
    print('Column Name: ', col)
    print('NaN Count: ', nan_count[col])
    print(longbeach_data[col].value_counts())
    print("\n")

Column Name:  relrest
NaN Count:  3
1.0    104
0.0     16
Name: relrest, dtype: int64


Column Name:  trestbps
NaN Count:  31
120.0    12
130.0    10
110.0     7
140.0     5
150.0     5
136.0     4
142.0     4
160.0     4
126.0     4
170.0     3
124.0     3
122.0     3
128.0     3
152.0     2
144.0     2
154.0     2
125.0     2
132.0     2
116.0     2
146.0     1
102.0     1
112.0     1
106.0     1
158.0     1
135.0     1
134.0     1
178.0     1
138.0     1
104.0     1
180.0     1
0.0       1
96.0      1
Name: trestbps, dtype: int64


Column Name:  htn
NaN Count:  3
0.0    61
1.0    59
Name: htn, dtype: int64


Column Name:  chol
NaN Count:  1
0.0      49
218.0     3
236.0     3
214.0     3
186.0     2
252.0     2
240.0     2
195.0     2
203.0     2
258.0     2
220.0     2
267.0     2
228.0     2
210.0     1
235.0     1
245.0     1
225.0     1
198.0     1
227.0     1
208.0     1
161.0     1
260.0     1
349.0     1
305.0     1
223.0     1
282.0     1
248.0     1
160.0     1
312.0     1
283.0     1
142.0     1
211.0     1
306.0     1
222.0     1
308.0     1
216.0     1
297.0     1
153.0     1
213.0     1
166.0     1
177.0     1
100.0     1
171.0     1
230.0     1
281.0     1
277.0     1
233.0     1
224.0     1
384.0     1
316.0     1
311.0     1
270.0     1
217.0     1
339.0     1
209.0     1
276.0     1
458.0     1
241.0     1
202.0     1
Name: chol, dtype: int64


Column Name:  smoke
NaN Count:  4
0.0    61
1.0    58
Name: smoke, dtype: int64


Column Name:  cigs
NaN Count:  7
20.0    40
0.0     22
40.0    21
30.0    10
10.0     6
60.0     6
50.0     3
15.0     3
45.0     1
80.0     1
65.0     1
5.0      1
4.0      1
Name: cigs, dtype: int64


Column Name:  years
NaN Count:  9
0.0     22
40.0    21
30.0    17
20.0    14
25.0     9
15.0     5
10.0     4
5.0      3
50.0     3
3.0      2
7.0      2
45.0     1
8.0      1
47.0     1
14.0     1
23.0     1
54.0     1
2.0      1
42.0     1
18.0     1
32.0     1
37.0     1
35.0     1
Name: years, dtype: int64


Column Name:  fbs
NaN Count:  7
0.0    80
1.0    36
Name: fbs, dtype: int64


Column Name:  dm
NaN Count:  96
1.0    25
0.0     2
Name: dm, dtype: int64


Column Name:  famhist
NaN Count:  7
0.0    61
1.0    55
Name: famhist, dtype: int64


Column Name:  ekgmo
NaN Count:  28
4.0     14
10.0    14
7.0     11
3.0     10
6.0      8
11.0     8
5.0      8
1.0      7
9.0      4
2.0      4
8.0      4
12.0     3
Name: ekgmo, dtype: int64


Column Name:  ekgday
NaN Count:  29
23.0    6
20.0    6
22.0    5
1.0     5
16.0    5
17.0    5
27.0    5
3.0     5
7.0     5
29.0    4
12.0    4
18.0    4
14.0    3
8.0     3
25.0    3
26.0    3
24.0    3
21.0    2
4.0     2
19.0    2
28.0    2
5.0     2
9.0     2
13.0    1
2.0     1
11.0    1
30.0    1
15.0    1
31.0    1
6.0     1
10.0    1
Name: ekgday, dtype: int64


Column Name:  ekgyr
NaN Count:  28
86.0    41
84.0    29
85.0    22
83.0     3
Name: ekgyr, dtype: int64


Column Name:  dig
NaN Count:  33
0.0    83
1.0     7
Name: dig, dtype: int64


Column Name:  prop
NaN Count:  33
0.0    60
1.0    30
Name: prop, dtype: int64


Column Name:  nitr
NaN Count:  32
1.0    52
0.0    39
Name: nitr, dtype: int64


Column Name:  pro
NaN Count:  32
0.0    61
1.0    30
Name: pro, dtype: int64


Column Name:  diuretic
NaN Count:  46
0.0    59
1.0    18
Name: diuretic, dtype: int64


Column Name:  proto
NaN Count:  29
5.0    83
1.0     8
4.0     2
6.0     1
Name: proto, dtype: int64


Column Name:  thaldur
NaN Count:  29
6.00     11
4.00     11
7.00      9
5.00      8
8.00      7
6.50      6
3.00      5
5.50      3
7.50      3
12.00     2
10.50     2
9.30      2
9.00      2
2.00      2
6.30      2
10.30     2
9.50      1
6.75      1
4.50      1
4.75      1
6.80      1
4.80      1
6.70      1
10.00     1
11.30     1
11.00     1
4.70      1
2.30      1
8.50      1
5.20      1
2.50      1
8.20      1
8.10      1
Name: thaldur, dtype: int64


Column Name:  thaltime
NaN Count:  95
6.0     6
5.0     3
8.0     2
7.5     2
4.5     2
3.0     2
2.0     2
4.0     2
7.0     2
0.0     2
6.5     1
11.3    1
4.8     1
Name: thaltime, dtype: int64


Column Name:  met
NaN Count:  29
6.0     25
5.0     15
4.0     12
8.0     11
10.0     8
7.0      6
2.0      5
3.0      5
9.0      2
13.0     1
8.5      1
4.5      1
5.8      1
11.0     1
Name: met, dtype: int64


Column Name:  thalach
NaN Count:  29
140.0    10
120.0     8
110.0     6
112.0     4
130.0     4
117.0     3
125.0     3
148.0     3
106.0     3
150.0     3
111.0     2
108.0     2
128.0     2
80.0      2
102.0     2
180.0     2
160.0     2
135.0     2
105.0     2
118.0     2
84.0      2
86.0      2
124.0     1
121.0     1
132.0     1
88.0      1
149.0     1
138.0     1
69.0      1
145.0     1
99.0      1
144.0     1
123.0     1
161.0     1
141.0     1
129.0     1
97.0      1
157.0     1
107.0     1
165.0     1
131.0     1
133.0     1
127.0     1
155.0     1
122.0     1
Name: thalach, dtype: int64


Column Name:  thalrest
NaN Count:  29
65.0     9
66.0     6
70.0     5
62.0     4
74.0     4
68.0     4
60.0     4
75.0     4
59.0     4
84.0     4
73.0     4
58.0     4
56.0     3
80.0     3
72.0     3
77.0     2
82.0     2
95.0     2
76.0     2
63.0     2
67.0     2
78.0     2
64.0     2
52.0     2
55.0     1
50.0     1
94.0     1
57.0     1
71.0     1
139.0    1
93.0     1
49.0     1
61.0     1
91.0     1
83.0     1
Name: thalrest, dtype: int64


Column Name:  tpeakbps
NaN Count:  33
170.0    9
180.0    9
160.0    7
190.0    7
150.0    6
140.0    6
130.0    5
200.0    4
210.0    3
136.0    3
110.0    3
164.0    2
162.0    2
120.0    2
148.0    1
220.0    1
138.0    1
176.0    1
198.0    1
132.0    1
165.0    1
195.0    1
134.0    1
178.0    1
142.0    1
155.0    1
168.0    1
182.0    1
145.0    1
208.0    1
100.0    1
185.0    1
156.0    1
184.0    1
154.0    1
124.0    1
Name: tpeakbps, dtype: int64


Column Name:  tpeakbpd
NaN Count:  33
90.0     22
80.0     21
70.0      9
100.0     7
84.0      5
60.0      4
110.0     3
78.0      3
96.0      2
104.0     2
94.0      2
76.0      2
82.0      1
86.0      1
66.0      1
105.0     1
88.0      1
72.0      1
120.0     1
98.0      1
Name: tpeakbpd, dtype: int64


Column Name:  dummy
NaN Count:  31
120.0    12
130.0    10
110.0     7
140.0     5
150.0     5
136.0     4
142.0     4
160.0     4
126.0     4
170.0     3
124.0     3
122.0     3
128.0     3
152.0     2
144.0     2
154.0     2
125.0     2
132.0     2
116.0     2
146.0     1
102.0     1
112.0     1
106.0     1
158.0     1
135.0     1
134.0     1
178.0     1
138.0     1
104.0     1
180.0     1
0.0       1
96.0      1
Name: dummy, dtype: int64


Column Name:  trestbpd
NaN Count:  31
80.0     28
70.0     19
90.0      9
78.0      7
60.0      4
82.0      3
84.0      3
88.0      3
92.0      2
74.0      2
72.0      2
85.0      2
94.0      2
64.0      1
95.0      1
0.0       1
86.0      1
98.0      1
100.0     1
Name: trestbpd, dtype: int64


Column Name:  exang
NaN Count:  29
1.0    62
0.0    32
Name: exang, dtype: int64


Column Name:  xhypo
NaN Count:  29
0.0    87
1.0     7
Name: xhypo, dtype: int64


Column Name:  oldpeak
NaN Count:  31
 0.0    21
 2.0    17
 1.0    14
 1.5    11
 3.0     9
 2.5     8
 0.5     5
 4.0     3
 1.3     2
-0.5     1
 1.6     1
Name: oldpeak, dtype: int64


Column Name:  slope
NaN Count:  53
2.0    39
3.0    18
1.0    12
0.0     1
Name: slope, dtype: int64


Column Name:  rldv5
NaN Count:  38
20.0    8
10.0    7
11.0    7
17.0    7
15.0    6
16.0    6
14.0    6
19.0    6
13.0    6
12.0    5
21.0    4
25.0    4
6.0     2
8.0     2
7.0     1
27.0    1
29.0    1
22.0    1
18.0    1
26.0    1
28.0    1
36.0    1
31.0    1
Name: rldv5, dtype: int64


Column Name:  rldv5e
NaN Count:  38
11.0    10
17.0     9
18.0     7
20.0     7
16.0     6
15.0     6
6.0      4
19.0     3
12.0     3
8.0      3
13.0     3
21.0     3
9.0      3
14.0     2
25.0     2
26.0     2
10.0     2
7.0      2
24.0     2
23.0     1
29.0     1
22.0     1
30.0     1
27.0     1
36.0     1
Name: rldv5e, dtype: int64


Column Name:  restef
NaN Count:  109
0.64    2
0.45    2
0.52    1
0.67    1
0.33    1
0.50    1
0.59    1
0.22    1
0.80    1
0.61    1
0.36    1
0.60    1
Name: restef, dtype: int64


Column Name:  restwm
NaN Count:  108
0.0    6
1.0    5
2.0    3
3.0    1
Name: restwm, dtype: int64


Column Name:  exeref
NaN Count:  121
0.6    1
0.5    1
Name: exeref, dtype: int64


Column Name:  exerwm
NaN Count:  121
1.0    1
0.0    1
Name: exerwm, dtype: int64


Column Name:  thal
NaN Count:  99
7.0    14
6.0     4
5.0     3
2.0     1
3.0     1
1.0     1
Name: thal, dtype: int64


Column Name:  thalsev
NaN Count:  104
2.0    9
0.0    4
1.0    4
3.0    2
Name: thalsev, dtype: int64


Column Name:  cathef
NaN Count:  5
0.80    8
0.60    6
0.74    6
0.75    6
0.70    5
0.73    5
0.57    5
0.50    4
0.40    4
0.78    4
0.83    4
0.58    3
0.84    3
0.79    3
0.77    3
0.82    3
0.62    3
0.71    3
0.72    3
0.54    3
0.22    2
0.86    2
0.55    2
0.64    2
0.85    2
0.52    2
0.68    2
0.63    2
0.67    2
0.66    2
0.76    2
0.87    1
0.41    1
0.59    1
0.69    1
0.65    1
0.42    1
0.43    1
0.48    1
0.47    1
0.89    1
0.32    1
0.44    1
Name: cathef, dtype: int64


Column Name:  junk
NaN Count:  44
6.0     5
5.7     5
6.4     4
5.5     3
8.0     3
4.8     3
3.8     3
5.2     3
5.0     3
3.6     2
4.6     2
7.2     2
4.3     2
5.6     2
3.7     2
3.4     2
5.8     2
6.5     2
4.2     2
6.9     2
4.4     2
5.3     2
7.5     1
8.7     1
5.9     1
10.2    1
4.9     1
9.0     1
6.3     1
10.0    1
7.8     1
3.9     1
3.3     1
7.0     1
9.9     1
8.1     1
4.1     1
6.1     1
8.2     1
4.7     1
7.6     1
11.3    1
8.4     1
Name: junk, dtype: int64

In [64]:
print("No of rows with nan : ", sum([True for index,row in longbeach_data.iterrows() if any(row.isnull())]))

No of rows with nan :  123

## Filling NaN with Other Values

Here we fill NaN with other values in the column using probability of finding the value in the column as the criteria

In [65]:
cols_to_be_removed = list()

for col in cols_with_nan:
    if longbeach_data[col].isna().sum() > 0.25*longbeach_data.shape[0] and col not in selected_columns:
        cols_to_be_removed.append(col)
        
print(cols_to_be_removed)

['dm', 'dig', 'prop', 'nitr', 'pro', 'diuretic', 'thaltime', 'tpeakbps', 'tpeakbpd', 'dummy', 'trestbpd', 'rldv5', 'rldv5e', 'restef', 'restwm', 'exeref', 'exerwm', 'thalsev', 'junk']

In [66]:
# Dropping these columns

longbeach_data = longbeach_data.drop(cols_to_be_removed, axis = 1)

In [67]:
longbeach_ratio = longbeach_data.copy()
longbeach_mean = longbeach_data.copy()
longbeach_mode = longbeach_data.copy()
longbeach_median = longbeach_data.copy()

In [68]:
print("No of rows with nan : ", sum([True for index,row in longbeach_data.iterrows() if any(row.isnull())]))

No of rows with nan :  111

## Imputing with proportion of each value in dataset

In [69]:
cols_with_nan = longbeach_ratio.columns.values[longbeach_ratio.isna().any()]

for col in cols_with_nan:
    print("Col Name: ", col, "")
    
    col_duplicate = longbeach_ratio[col].copy()
    
    for index, val in col_duplicate.iteritems():
        if np.isnan(val):
            print(index, val)
        
    col_probabilities = []
        
    for index, val in col_duplicate.value_counts().iteritems():
        col_probabilities.append(round(val/col_duplicate.value_counts().sum(), 2))
    
    for i in range(len(col_probabilities)):
        if round(sum(col_probabilities), 2) >= 1:
            break
        col_probabilities[i] += 0.01
    
    for i in range(len(col_probabilities)):
        if round(sum(col_probabilities), 2) <= 1:
            break
        col_probabilities[i] -= 0.01
    
    col_values = col_duplicate.value_counts().index.values.tolist()
        
    col_duplicate = col_duplicate.fillna(pd.Series(np.random.choice(col_values, 
                                                                      p=col_probabilities, size=len(col_duplicate))))
        
    for index, val in longbeach_ratio[col].iteritems():
        if col_duplicate[index] != val:
            print("Index: ", index, ", ", col, " duplicate value: ", col_duplicate[index], ", original value: ", val)
            
    longbeach_ratio[col] = col_duplicate.copy()
    
    print(col, "done!!!\n")

Col Name:  relrest
77 nan
89 nan
99 nan
Index:  77 ,  relrest  duplicate value:  1.0 , original value:  nan
Index:  89 ,  relrest  duplicate value:  0.0 , original value:  nan
Index:  99 ,  relrest  duplicate value:  1.0 , original value:  nan
relrest done!!!

Col Name:  trestbps
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
42 nan
44 nan
48 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  trestbps  duplicate value:  154.0 , original value:  nan
Index:  23 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  26 ,  trestbps  duplicate value:  116.0 , original value:  nan
Index:  29 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  30 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  36 ,  trestbps  duplicate value:  124.0 , original value:  nan
Index:  38 ,  trestbps  duplicate value:  124.0 , original value:  nan
Index:  42 ,  trestbps  duplicate value:  160.0 , original value:  nan
Index:  44 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  48 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  51 ,  trestbps  duplicate value:  124.0 , original value:  nan
Index:  57 ,  trestbps  duplicate value:  126.0 , original value:  nan
Index:  58 ,  trestbps  duplicate value:  170.0 , original value:  nan
Index:  60 ,  trestbps  duplicate value:  144.0 , original value:  nan
Index:  68 ,  trestbps  duplicate value:  122.0 , original value:  nan
Index:  69 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  72 ,  trestbps  duplicate value:  142.0 , original value:  nan
Index:  77 ,  trestbps  duplicate value:  170.0 , original value:  nan
Index:  87 ,  trestbps  duplicate value:  125.0 , original value:  nan
Index:  89 ,  trestbps  duplicate value:  142.0 , original value:  nan
Index:  94 ,  trestbps  duplicate value:  170.0 , original value:  nan
Index:  96 ,  trestbps  duplicate value:  154.0 , original value:  nan
Index:  109 ,  trestbps  duplicate value:  110.0 , original value:  nan
Index:  110 ,  trestbps  duplicate value:  154.0 , original value:  nan
Index:  111 ,  trestbps  duplicate value:  150.0 , original value:  nan
Index:  112 ,  trestbps  duplicate value:  150.0 , original value:  nan
Index:  113 ,  trestbps  duplicate value:  126.0 , original value:  nan
Index:  114 ,  trestbps  duplicate value:  120.0 , original value:  nan
Index:  115 ,  trestbps  duplicate value:  144.0 , original value:  nan
Index:  119 ,  trestbps  duplicate value:  125.0 , original value:  nan
Index:  120 ,  trestbps  duplicate value:  150.0 , original value:  nan
trestbps done!!!

Col Name:  htn
13 nan
47 nan
71 nan
Index:  13 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  47 ,  htn  duplicate value:  0.0 , original value:  nan
Index:  71 ,  htn  duplicate value:  1.0 , original value:  nan
htn done!!!

Col Name:  chol
107 nan
Index:  107 ,  chol  duplicate value:  458.0 , original value:  nan
chol done!!!

Col Name:  smoke
11 nan
12 nan
14 nan
42 nan
Index:  11 ,  smoke  duplicate value:  1.0 , original value:  nan
Index:  12 ,  smoke  duplicate value:  0.0 , original value:  nan
Index:  14 ,  smoke  duplicate value:  0.0 , original value:  nan
Index:  42 ,  smoke  duplicate value:  0.0 , original value:  nan
smoke done!!!

Col Name:  cigs
15 nan
50 nan
61 nan
66 nan
71 nan
72 nan
110 nan
Index:  15 ,  cigs  duplicate value:  40.0 , original value:  nan
Index:  50 ,  cigs  duplicate value:  0.0 , original value:  nan
Index:  61 ,  cigs  duplicate value:  40.0 , original value:  nan
Index:  66 ,  cigs  duplicate value:  30.0 , original value:  nan
Index:  71 ,  cigs  duplicate value:  20.0 , original value:  nan
Index:  72 ,  cigs  duplicate value:  0.0 , original value:  nan
Index:  110 ,  cigs  duplicate value:  0.0 , original value:  nan
cigs done!!!

Col Name:  years
14 nan
15 nan
22 nan
50 nan
56 nan
61 nan
66 nan
71 nan
72 nan
Index:  14 ,  years  duplicate value:  0.0 , original value:  nan
Index:  15 ,  years  duplicate value:  40.0 , original value:  nan
Index:  22 ,  years  duplicate value:  45.0 , original value:  nan
Index:  50 ,  years  duplicate value:  40.0 , original value:  nan
Index:  56 ,  years  duplicate value:  32.0 , original value:  nan
Index:  61 ,  years  duplicate value:  37.0 , original value:  nan
Index:  66 ,  years  duplicate value:  0.0 , original value:  nan
Index:  71 ,  years  duplicate value:  3.0 , original value:  nan
Index:  72 ,  years  duplicate value:  7.0 , original value:  nan
years done!!!

Col Name:  fbs
8 nan
49 nan
56 nan
61 nan
62 nan
65 nan
102 nan
Index:  8 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  49 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  56 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  61 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  62 ,  fbs  duplicate value:  1.0 , original value:  nan
Index:  65 ,  fbs  duplicate value:  0.0 , original value:  nan
Index:  102 ,  fbs  duplicate value:  0.0 , original value:  nan
fbs done!!!

Col Name:  famhist
14 nan
55 nan
56 nan
63 nan
65 nan
79 nan
96 nan
Index:  14 ,  famhist  duplicate value:  0.0 , original value:  nan
Index:  55 ,  famhist  duplicate value:  0.0 , original value:  nan
Index:  56 ,  famhist  duplicate value:  0.0 , original value:  nan
Index:  63 ,  famhist  duplicate value:  0.0 , original value:  nan
Index:  65 ,  famhist  duplicate value:  1.0 , original value:  nan
Index:  79 ,  famhist  duplicate value:  0.0 , original value:  nan
Index:  96 ,  famhist  duplicate value:  0.0 , original value:  nan
famhist done!!!

Col Name:  ekgmo
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
87 nan
94 nan
96 nan
107 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  ekgmo  duplicate value:  1.0 , original value:  nan
Index:  23 ,  ekgmo  duplicate value:  9.0 , original value:  nan
Index:  26 ,  ekgmo  duplicate value:  7.0 , original value:  nan
Index:  29 ,  ekgmo  duplicate value:  10.0 , original value:  nan
Index:  30 ,  ekgmo  duplicate value:  3.0 , original value:  nan
Index:  36 ,  ekgmo  duplicate value:  3.0 , original value:  nan
Index:  38 ,  ekgmo  duplicate value:  11.0 , original value:  nan
Index:  44 ,  ekgmo  duplicate value:  5.0 , original value:  nan
Index:  51 ,  ekgmo  duplicate value:  4.0 , original value:  nan
Index:  57 ,  ekgmo  duplicate value:  10.0 , original value:  nan
Index:  58 ,  ekgmo  duplicate value:  5.0 , original value:  nan
Index:  60 ,  ekgmo  duplicate value:  10.0 , original value:  nan
Index:  68 ,  ekgmo  duplicate value:  3.0 , original value:  nan
Index:  69 ,  ekgmo  duplicate value:  5.0 , original value:  nan
Index:  72 ,  ekgmo  duplicate value:  4.0 , original value:  nan
Index:  87 ,  ekgmo  duplicate value:  11.0 , original value:  nan
Index:  94 ,  ekgmo  duplicate value:  6.0 , original value:  nan
Index:  96 ,  ekgmo  duplicate value:  7.0 , original value:  nan
Index:  107 ,  ekgmo  duplicate value:  11.0 , original value:  nan
Index:  109 ,  ekgmo  duplicate value:  10.0 , original value:  nan
Index:  110 ,  ekgmo  duplicate value:  4.0 , original value:  nan
Index:  111 ,  ekgmo  duplicate value:  4.0 , original value:  nan
Index:  112 ,  ekgmo  duplicate value:  8.0 , original value:  nan
Index:  113 ,  ekgmo  duplicate value:  7.0 , original value:  nan
Index:  114 ,  ekgmo  duplicate value:  3.0 , original value:  nan
Index:  115 ,  ekgmo  duplicate value:  9.0 , original value:  nan
Index:  119 ,  ekgmo  duplicate value:  10.0 , original value:  nan
Index:  120 ,  ekgmo  duplicate value:  3.0 , original value:  nan
ekgmo done!!!

Col Name:  ekgday
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
87 nan
92 nan
94 nan
96 nan
107 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  ekgday  duplicate value:  13.0 , original value:  nan
Index:  23 ,  ekgday  duplicate value:  17.0 , original value:  nan
Index:  26 ,  ekgday  duplicate value:  3.0 , original value:  nan
Index:  29 ,  ekgday  duplicate value:  16.0 , original value:  nan
Index:  30 ,  ekgday  duplicate value:  12.0 , original value:  nan
Index:  36 ,  ekgday  duplicate value:  1.0 , original value:  nan
Index:  38 ,  ekgday  duplicate value:  14.0 , original value:  nan
Index:  44 ,  ekgday  duplicate value:  27.0 , original value:  nan
Index:  51 ,  ekgday  duplicate value:  6.0 , original value:  nan
Index:  57 ,  ekgday  duplicate value:  18.0 , original value:  nan
Index:  58 ,  ekgday  duplicate value:  23.0 , original value:  nan
Index:  60 ,  ekgday  duplicate value:  1.0 , original value:  nan
Index:  68 ,  ekgday  duplicate value:  26.0 , original value:  nan
Index:  69 ,  ekgday  duplicate value:  29.0 , original value:  nan
Index:  72 ,  ekgday  duplicate value:  27.0 , original value:  nan
Index:  87 ,  ekgday  duplicate value:  6.0 , original value:  nan
Index:  92 ,  ekgday  duplicate value:  16.0 , original value:  nan
Index:  94 ,  ekgday  duplicate value:  31.0 , original value:  nan
Index:  96 ,  ekgday  duplicate value:  5.0 , original value:  nan
Index:  107 ,  ekgday  duplicate value:  7.0 , original value:  nan
Index:  109 ,  ekgday  duplicate value:  5.0 , original value:  nan
Index:  110 ,  ekgday  duplicate value:  16.0 , original value:  nan
Index:  111 ,  ekgday  duplicate value:  5.0 , original value:  nan
Index:  112 ,  ekgday  duplicate value:  25.0 , original value:  nan
Index:  113 ,  ekgday  duplicate value:  4.0 , original value:  nan
Index:  114 ,  ekgday  duplicate value:  7.0 , original value:  nan
Index:  115 ,  ekgday  duplicate value:  11.0 , original value:  nan
Index:  119 ,  ekgday  duplicate value:  8.0 , original value:  nan
Index:  120 ,  ekgday  duplicate value:  1.0 , original value:  nan
ekgday done!!!

Col Name:  ekgyr
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
87 nan
94 nan
96 nan
107 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  ekgyr  duplicate value:  83.0 , original value:  nan
Index:  23 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  26 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  29 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  30 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  36 ,  ekgyr  duplicate value:  86.0 , original value:  nan
Index:  38 ,  ekgyr  duplicate value:  86.0 , original value:  nan
Index:  44 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  51 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  57 ,  ekgyr  duplicate value:  86.0 , original value:  nan
Index:  58 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  60 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  68 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  69 ,  ekgyr  duplicate value:  86.0 , original value:  nan
Index:  72 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  87 ,  ekgyr  duplicate value:  86.0 , original value:  nan
Index:  94 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  96 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  107 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  109 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  110 ,  ekgyr  duplicate value:  86.0 , original value:  nan
Index:  111 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  112 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  113 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  114 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  115 ,  ekgyr  duplicate value:  84.0 , original value:  nan
Index:  119 ,  ekgyr  duplicate value:  85.0 , original value:  nan
Index:  120 ,  ekgyr  duplicate value:  86.0 , original value:  nan
ekgyr done!!!

Col Name:  proto
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan

Index:  13 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  23 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  26 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  29 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  30 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  36 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  38 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  44 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  51 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  57 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  58 ,  proto  duplicate value:  1.0 , original value:  nan
Index:  60 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  68 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  69 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  72 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  77 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  87 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  89 ,  proto  duplicate value:  1.0 , original value:  nan
Index:  94 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  96 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  109 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  110 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  111 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  112 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  113 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  114 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  115 ,  proto  duplicate value:  1.0 , original value:  nan
Index:  119 ,  proto  duplicate value:  5.0 , original value:  nan
Index:  120 ,  proto  duplicate value:  5.0 , original value:  nan
proto done!!!

Col Name:  thaldur
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  thaldur  duplicate value:  8.0 , original value:  nan
Index:  23 ,  thaldur  duplicate value:  2.0 , original value:  nan
Index:  26 ,  thaldur  duplicate value:  4.0 , original value:  nan
Index:  29 ,  thaldur  duplicate value:  7.5 , original value:  nan
Index:  30 ,  thaldur  duplicate value:  6.0 , original value:  nan
Index:  36 ,  thaldur  duplicate value:  11.3 , original value:  nan
Index:  38 ,  thaldur  duplicate value:  10.0 , original value:  nan
Index:  44 ,  thaldur  duplicate value:  5.5 , original value:  nan
Index:  51 ,  thaldur  duplicate value:  7.5 , original value:  nan
Index:  57 ,  thaldur  duplicate value:  2.0 , original value:  nan
Index:  58 ,  thaldur  duplicate value:  8.0 , original value:  nan
Index:  60 ,  thaldur  duplicate value:  8.0 , original value:  nan
Index:  68 ,  thaldur  duplicate value:  9.0 , original value:  nan
Index:  69 ,  thaldur  duplicate value:  8.1 , original value:  nan
Index:  72 ,  thaldur  duplicate value:  3.0 , original value:  nan
Index:  77 ,  thaldur  duplicate value:  7.5 , original value:  nan
Index:  87 ,  thaldur  duplicate value:  6.0 , original value:  nan
Index:  89 ,  thaldur  duplicate value:  5.5 , original value:  nan
Index:  94 ,  thaldur  duplicate value:  5.0 , original value:  nan
Index:  96 ,  thaldur  duplicate value:  4.0 , original value:  nan
Index:  109 ,  thaldur  duplicate value:  5.0 , original value:  nan
Index:  110 ,  thaldur  duplicate value:  11.0 , original value:  nan
Index:  111 ,  thaldur  duplicate value:  7.5 , original value:  nan
Index:  112 ,  thaldur  duplicate value:  8.2 , original value:  nan
Index:  113 ,  thaldur  duplicate value:  7.0 , original value:  nan
Index:  114 ,  thaldur  duplicate value:  5.5 , original value:  nan
Index:  115 ,  thaldur  duplicate value:  6.5 , original value:  nan
Index:  119 ,  thaldur  duplicate value:  7.5 , original value:  nan
Index:  120 ,  thaldur  duplicate value:  5.5 , original value:  nan
thaldur done!!!

Col Name:  met
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  met  duplicate value:  6.0 , original value:  nan
Index:  23 ,  met  duplicate value:  5.0 , original value:  nan
Index:  26 ,  met  duplicate value:  2.0 , original value:  nan
Index:  29 ,  met  duplicate value:  3.0 , original value:  nan
Index:  30 ,  met  duplicate value:  7.0 , original value:  nan
Index:  36 ,  met  duplicate value:  8.0 , original value:  nan
Index:  38 ,  met  duplicate value:  6.0 , original value:  nan
Index:  44 ,  met  duplicate value:  5.0 , original value:  nan
Index:  51 ,  met  duplicate value:  10.0 , original value:  nan
Index:  57 ,  met  duplicate value:  7.0 , original value:  nan
Index:  58 ,  met  duplicate value:  8.5 , original value:  nan
Index:  60 ,  met  duplicate value:  4.0 , original value:  nan
Index:  68 ,  met  duplicate value:  6.0 , original value:  nan
Index:  69 ,  met  duplicate value:  9.0 , original value:  nan
Index:  72 ,  met  duplicate value:  7.0 , original value:  nan
Index:  77 ,  met  duplicate value:  5.0 , original value:  nan
Index:  87 ,  met  duplicate value:  6.0 , original value:  nan
Index:  89 ,  met  duplicate value:  6.0 , original value:  nan
Index:  94 ,  met  duplicate value:  6.0 , original value:  nan
Index:  96 ,  met  duplicate value:  7.0 , original value:  nan
Index:  109 ,  met  duplicate value:  11.0 , original value:  nan
Index:  110 ,  met  duplicate value:  6.0 , original value:  nan
Index:  111 ,  met  duplicate value:  4.0 , original value:  nan
Index:  112 ,  met  duplicate value:  6.0 , original value:  nan
Index:  113 ,  met  duplicate value:  5.0 , original value:  nan
Index:  114 ,  met  duplicate value:  6.0 , original value:  nan
Index:  115 ,  met  duplicate value:  4.0 , original value:  nan
Index:  119 ,  met  duplicate value:  8.0 , original value:  nan
Index:  120 ,  met  duplicate value:  5.0 , original value:  nan
met done!!!

Col Name:  thalach
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  thalach  duplicate value:  120.0 , original value:  nan
Index:  23 ,  thalach  duplicate value:  110.0 , original value:  nan
Index:  26 ,  thalach  duplicate value:  140.0 , original value:  nan
Index:  29 ,  thalach  duplicate value:  84.0 , original value:  nan
Index:  30 ,  thalach  duplicate value:  149.0 , original value:  nan
Index:  36 ,  thalach  duplicate value:  149.0 , original value:  nan
Index:  38 ,  thalach  duplicate value:  108.0 , original value:  nan
Index:  44 ,  thalach  duplicate value:  106.0 , original value:  nan
Index:  51 ,  thalach  duplicate value:  140.0 , original value:  nan
Index:  57 ,  thalach  duplicate value:  105.0 , original value:  nan
Index:  58 ,  thalach  duplicate value:  141.0 , original value:  nan
Index:  60 ,  thalach  duplicate value:  125.0 , original value:  nan
Index:  68 ,  thalach  duplicate value:  123.0 , original value:  nan
Index:  69 ,  thalach  duplicate value:  124.0 , original value:  nan
Index:  72 ,  thalach  duplicate value:  120.0 , original value:  nan
Index:  77 ,  thalach  duplicate value:  140.0 , original value:  nan
Index:  87 ,  thalach  duplicate value:  88.0 , original value:  nan
Index:  89 ,  thalach  duplicate value:  112.0 , original value:  nan
Index:  94 ,  thalach  duplicate value:  120.0 , original value:  nan
Index:  96 ,  thalach  duplicate value:  129.0 , original value:  nan
Index:  109 ,  thalach  duplicate value:  110.0 , original value:  nan
Index:  110 ,  thalach  duplicate value:  80.0 , original value:  nan
Index:  111 ,  thalach  duplicate value:  144.0 , original value:  nan
Index:  112 ,  thalach  duplicate value:  150.0 , original value:  nan
Index:  113 ,  thalach  duplicate value:  125.0 , original value:  nan
Index:  114 ,  thalach  duplicate value:  112.0 , original value:  nan
Index:  115 ,  thalach  duplicate value:  130.0 , original value:  nan
Index:  119 ,  thalach  duplicate value:  111.0 , original value:  nan
Index:  120 ,  thalach  duplicate value:  155.0 , original value:  nan
thalach done!!!

Col Name:  thalrest
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan

Index:  13 ,  thalrest  duplicate value:  84.0 , original value:  nan
Index:  23 ,  thalrest  duplicate value:  68.0 , original value:  nan
Index:  26 ,  thalrest  duplicate value:  72.0 , original value:  nan
Index:  29 ,  thalrest  duplicate value:  65.0 , original value:  nan
Index:  30 ,  thalrest  duplicate value:  65.0 , original value:  nan
Index:  36 ,  thalrest  duplicate value:  62.0 , original value:  nan
Index:  38 ,  thalrest  duplicate value:  66.0 , original value:  nan
Index:  44 ,  thalrest  duplicate value:  95.0 , original value:  nan
Index:  51 ,  thalrest  duplicate value:  75.0 , original value:  nan
Index:  57 ,  thalrest  duplicate value:  77.0 , original value:  nan
Index:  58 ,  thalrest  duplicate value:  70.0 , original value:  nan
Index:  60 ,  thalrest  duplicate value:  75.0 , original value:  nan
Index:  68 ,  thalrest  duplicate value:  84.0 , original value:  nan
Index:  69 ,  thalrest  duplicate value:  73.0 , original value:  nan
Index:  72 ,  thalrest  duplicate value:  72.0 , original value:  nan
Index:  77 ,  thalrest  duplicate value:  95.0 , original value:  nan
Index:  87 ,  thalrest  duplicate value:  78.0 , original value:  nan
Index:  89 ,  thalrest  duplicate value:  52.0 , original value:  nan
Index:  94 ,  thalrest  duplicate value:  68.0 , original value:  nan
Index:  96 ,  thalrest  duplicate value:  78.0 , original value:  nan
Index:  109 ,  thalrest  duplicate value:  75.0 , original value:  nan
Index:  110 ,  thalrest  duplicate value:  84.0 , original value:  nan
Index:  111 ,  thalrest  duplicate value:  49.0 , original value:  nan
Index:  112 ,  thalrest  duplicate value:  77.0 , original value:  nan
Index:  113 ,  thalrest  duplicate value:  73.0 , original value:  nan
Index:  114 ,  thalrest  duplicate value:  65.0 , original value:  nan
Index:  115 ,  thalrest  duplicate value:  77.0 , original value:  nan
Index:  119 ,  thalrest  duplicate value:  75.0 , original value:  nan
Index:  120 ,  thalrest  duplicate value:  58.0 , original value:  nan
thalrest done!!!

Col Name:  exang
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  23 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  26 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  29 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  30 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  36 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  38 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  44 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  51 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  57 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  58 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  60 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  68 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  69 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  72 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  77 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  87 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  89 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  94 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  96 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  109 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  110 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  111 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  112 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  113 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  114 ,  exang  duplicate value:  1.0 , original value:  nan
Index:  115 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  119 ,  exang  duplicate value:  0.0 , original value:  nan
Index:  120 ,  exang  duplicate value:  1.0 , original value:  nan
exang done!!!

Col Name:  xhypo
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  23 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  26 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  29 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  30 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  36 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  38 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  44 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  51 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  57 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  58 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  60 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  68 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  69 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  72 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  77 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  87 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  89 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  94 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  96 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  109 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  110 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  111 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  112 ,  xhypo  duplicate value:  1.0 , original value:  nan
Index:  113 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  114 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  115 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  119 ,  xhypo  duplicate value:  0.0 , original value:  nan
Index:  120 ,  xhypo  duplicate value:  0.0 , original value:  nan
xhypo done!!!

Col Name:  oldpeak
13 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
44 nan
51 nan
57 nan
58 nan
60 nan
68 nan
69 nan
70 nan
72 nan
77 nan
87 nan
89 nan
94 nan
96 nan
97 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
119 nan
120 nan
Index:  13 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  23 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  26 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  29 ,  oldpeak  duplicate value:  3.0 , original value:  nan
Index:  30 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  36 ,  oldpeak  duplicate value:  1.3 , original value:  nan
Index:  38 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  44 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  51 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  57 ,  oldpeak  duplicate value:  4.0 , original value:  nan
Index:  58 ,  oldpeak  duplicate value:  1.3 , original value:  nan
Index:  60 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  68 ,  oldpeak  duplicate value:  1.5 , original value:  nan
Index:  69 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  70 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  72 ,  oldpeak  duplicate value:  3.0 , original value:  nan
Index:  77 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  87 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  89 ,  oldpeak  duplicate value:  4.0 , original value:  nan
Index:  94 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  96 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  97 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  109 ,  oldpeak  duplicate value:  0.0 , original value:  nan
Index:  110 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  111 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  112 ,  oldpeak  duplicate value:  3.0 , original value:  nan
Index:  113 ,  oldpeak  duplicate value:  1.0 , original value:  nan
Index:  114 ,  oldpeak  duplicate value:  2.5 , original value:  nan
Index:  115 ,  oldpeak  duplicate value:  2.5 , original value:  nan
Index:  119 ,  oldpeak  duplicate value:  2.0 , original value:  nan
Index:  120 ,  oldpeak  duplicate value:  2.0 , original value:  nan
oldpeak done!!!

Col Name:  slope
1 nan
6 nan
10 nan
13 nan
15 nan
19 nan
22 nan
23 nan
26 nan
29 nan
30 nan
36 nan
38 nan
39 nan
41 nan
43 nan
44 nan
45 nan
47 nan
49 nan
51 nan
54 nan
57 nan
58 nan
59 nan
60 nan
63 nan
68 nan
69 nan
70 nan
72 nan
75 nan
77 nan
86 nan
87 nan
89 nan
91 nan
93 nan
94 nan
95 nan
96 nan
97 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
119 nan
120 nan
Index:  1 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  6 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  10 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  13 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  15 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  19 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  22 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  23 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  26 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  29 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  30 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  36 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  38 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  39 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  41 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  43 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  44 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  45 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  47 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  49 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  51 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  54 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  57 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  58 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  59 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  60 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  63 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  68 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  69 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  70 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  72 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  75 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  77 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  86 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  87 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  89 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  91 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  93 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  94 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  95 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  96 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  97 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  108 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  109 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  110 ,  slope  duplicate value:  1.0 , original value:  nan
Index:  111 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  112 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  113 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  114 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  115 ,  slope  duplicate value:  3.0 , original value:  nan

Index:  116 ,  slope  duplicate value:  3.0 , original value:  nan
Index:  119 ,  slope  duplicate value:  2.0 , original value:  nan
Index:  120 ,  slope  duplicate value:  1.0 , original value:  nan
slope done!!!

Col Name:  thal
0 nan
1 nan
2 nan
3 nan
4 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
20 nan
21 nan
22 nan
23 nan
26 nan
29 nan
30 nan
31 nan
32 nan
33 nan
35 nan
36 nan
38 nan
39 nan
40 nan
44 nan
46 nan
47 nan
48 nan
49 nan
51 nan
53 nan
54 nan
55 nan
56 nan
57 nan
58 nan
60 nan
61 nan
62 nan
63 nan
64 nan
65 nan
66 nan
68 nan
69 nan
70 nan
72 nan
73 nan
74 nan
76 nan
77 nan
78 nan
80 nan
81 nan
82 nan
83 nan
84 nan
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 nan
101 nan
102 nan
103 nan
104 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
122 nan
Index:  0 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  1 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  2 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  3 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  4 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  6 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  7 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  8 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  9 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  10 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  11 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  13 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  14 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  15 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  16 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  17 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  18 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  20 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  21 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  22 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  23 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  26 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  29 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  30 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  31 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  32 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  33 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  35 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  36 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  38 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  39 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  40 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  44 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  46 ,  thal  duplicate value:  2.0 , original value:  nan
Index:  47 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  48 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  49 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  51 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  53 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  54 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  55 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  56 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  57 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  58 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  60 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  61 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  62 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  63 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  64 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  65 ,  thal  duplicate value:  2.0 , original value:  nan
Index:  66 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  68 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  69 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  70 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  72 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  73 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  74 ,  thal  duplicate value:  2.0 , original value:  nan
Index:  76 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  77 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  78 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  80 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  81 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  82 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  83 ,  thal  duplicate value:  2.0 , original value:  nan
Index:  84 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  85 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  86 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  87 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  88 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  89 ,  thal  duplicate value:  2.0 , original value:  nan
Index:  90 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  92 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  93 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  94 ,  thal  duplicate value:  3.0 , original value:  nan
Index:  95 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  96 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  97 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  98 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  99 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  101 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  102 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  103 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  104 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  107 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  108 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  109 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  110 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  111 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  112 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  113 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  114 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  115 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  116 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  117 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  118 ,  thal  duplicate value:  1.0 , original value:  nan
Index:  119 ,  thal  duplicate value:  7.0 , original value:  nan
Index:  120 ,  thal  duplicate value:  5.0 , original value:  nan
Index:  121 ,  thal  duplicate value:  6.0 , original value:  nan
Index:  122 ,  thal  duplicate value:  2.0 , original value:  nan
thal done!!!

Col Name:  cathef
26 nan
62 nan
68 nan
69 nan
87 nan
Index:  26 ,  cathef  duplicate value:  0.71 , original value:  nan
Index:  62 ,  cathef  duplicate value:  0.85 , original value:  nan
Index:  68 ,  cathef  duplicate value:  0.43 , original value:  nan
Index:  69 ,  cathef  duplicate value:  0.62 , original value:  nan
Index:  87 ,  cathef  duplicate value:  0.63 , original value:  nan
cathef done!!!

In [70]:
print("No of rows with nan : ", sum([True for index,row in longbeach_ratio.iterrows() if any(row.isnull())]))

No of rows with nan :  0

In [71]:
longbeach_ratio.to_csv('datasets/longbeach_large.csv', index=False)

## Replacing with Mean

In [72]:
for col in cols_with_nan:
    col_mean_value = longbeach_mean[col].mean()
    print("Mean of", col, "attribute:", col_mean_value)
    longbeach_mean[col].fillna(value = col_mean_value, inplace = True)
    comparison_array = np.where(longbeach_mean[col] == longbeach_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mean of relrest attribute: 0.8666666666666667
No of changes in col: relrest :  3
Mean of trestbps attribute: 131.33695652173913
No of changes in col: trestbps :  31
Mean of htn attribute: 0.49166666666666664
No of changes in col: htn :  3
Mean of chol attribute: 142.48360655737704
No of changes in col: chol :  1
Mean of smoke attribute: 0.48739495798319327
No of changes in col: smoke :  4
Mean of cigs attribute: 23.74137931034483
No of changes in col: cigs :  7
Mean of years attribute: 22.035087719298247
No of changes in col: years :  9
Mean of fbs attribute: 0.3103448275862069
No of changes in col: fbs :  7
Mean of famhist attribute: 0.47413793103448276
No of changes in col: famhist :  7
Mean of ekgmo attribute: 6.294736842105263
No of changes in col: ekgmo :  28
Mean of ekgday attribute: 16.382978723404257
No of changes in col: ekgday :  29
Mean of ekgyr attribute: 85.06315789473685
No of changes in col: ekgyr :  28
Mean of proto attribute: 4.648936170212766
No of changes in col: proto :  29
Mean of thaldur attribute: 6.3446808510638295
No of changes in col: thaldur :  29
Mean of met attribute: 6.051063829787234
No of changes in col: met :  29
Mean of thalach attribute: 124.22340425531915
No of changes in col: thalach :  29
Mean of thalrest attribute: 69.76595744680851
No of changes in col: thalrest :  29
Mean of exang attribute: 0.6595744680851063
No of changes in col: exang :  29
Mean of xhypo attribute: 0.07446808510638298
No of changes in col: xhypo :  29
Mean of oldpeak attribute: 1.409782608695652
No of changes in col: oldpeak :  31
Mean of slope attribute: 2.057142857142857
No of changes in col: slope :  53
Mean of thal attribute: 5.958333333333333
No of changes in col: thal :  99
Mean of cathef attribute: 0.6685593220338978
No of changes in col: cathef :  5

In [73]:
# longbeach_mean.to_csv('datasets/longbeach_large.csv', index=False)

## Replacing with Mode

In [74]:
for col in cols_with_nan:
    col_mode_value = longbeach_mode[col].mode()
    print("Mode of", col, "attribute:", col_mode_value)
    longbeach_mode[col].fillna(value = col_mode_value, inplace = True)
    comparison_array = np.where(longbeach_mode[col] == longbeach_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mode of relrest attribute: 0    1.0
dtype: float64
No of changes in col: relrest :  3
Mode of trestbps attribute: 0    120.0
dtype: float64
No of changes in col: trestbps :  31
Mode of htn attribute: 0    0.0
dtype: float64
No of changes in col: htn :  3
Mode of chol attribute: 0    0.0
dtype: float64
No of changes in col: chol :  1
Mode of smoke attribute: 0    0.0
dtype: float64
No of changes in col: smoke :  4
Mode of cigs attribute: 0    20.0
dtype: float64
No of changes in col: cigs :  7
Mode of years attribute: 0    0.0
dtype: float64
No of changes in col: years :  9
Mode of fbs attribute: 0    0.0
dtype: float64
No of changes in col: fbs :  7
Mode of famhist attribute: 0    0.0
dtype: float64
No of changes in col: famhist :  7
Mode of ekgmo attribute: 0     4.0
1    10.0
dtype: float64
No of changes in col: ekgmo :  28
Mode of ekgday attribute: 0    20.0
1    23.0
dtype: float64
No of changes in col: ekgday :  29
Mode of ekgyr attribute: 0    86.0
dtype: float64
No of changes in col: ekgyr :  28
Mode of proto attribute: 0    5.0
dtype: float64
No of changes in col: proto :  29
Mode of thaldur attribute: 0    4.0
1    6.0
dtype: float64
No of changes in col: thaldur :  29
Mode of met attribute: 0    6.0
dtype: float64
No of changes in col: met :  29
Mode of thalach attribute: 0    140.0
dtype: float64
No of changes in col: thalach :  29
Mode of thalrest attribute: 0    65.0
dtype: float64
No of changes in col: thalrest :  29
Mode of exang attribute: 0    1.0
dtype: float64
No of changes in col: exang :  29
Mode of xhypo attribute: 0    0.0
dtype: float64
No of changes in col: xhypo :  29
Mode of oldpeak attribute: 0    0.0
dtype: float64
No of changes in col: oldpeak :  31
Mode of slope attribute: 0    2.0
dtype: float64
No of changes in col: slope :  53
Mode of thal attribute: 0    7.0
dtype: float64
No of changes in col: thal :  99
Mode of cathef attribute: 0    0.8
dtype: float64
No of changes in col: cathef :  5

In [75]:
# longbeach_mode.to_csv('datasets/longbeach_large.csv', index=False)

## Replacing with Median

In [76]:
for col in cols_with_nan:
    col_median_value = longbeach_median[col].median()
    print("Mode of", col, "attribute:", col_median_value)
    longbeach_median[col].fillna(value = col_median_value, inplace = True)
    comparison_array = np.where(longbeach_median[col] == longbeach_data[col], 0, 1)
    print("No of changes in col:", col, ": ", np.sum(comparison_array))

Mode of relrest attribute: 1.0
No of changes in col: relrest :  3
Mode of trestbps attribute: 130.0
No of changes in col: trestbps :  31
Mode of htn attribute: 0.0
No of changes in col: htn :  3
Mode of chol attribute: 196.5
No of changes in col: chol :  1
Mode of smoke attribute: 0.0
No of changes in col: smoke :  4
Mode of cigs attribute: 20.0
No of changes in col: cigs :  7
Mode of years attribute: 24.0
No of changes in col: years :  9
Mode of fbs attribute: 0.0
No of changes in col: fbs :  7
Mode of famhist attribute: 0.0
No of changes in col: famhist :  7
Mode of ekgmo attribute: 6.0
No of changes in col: ekgmo :  28
Mode of ekgday attribute: 17.5
No of changes in col: ekgday :  29
Mode of ekgyr attribute: 85.0
No of changes in col: ekgyr :  28
Mode of proto attribute: 5.0
No of changes in col: proto :  29
Mode of thaldur attribute: 6.15
No of changes in col: thaldur :  29
Mode of met attribute: 6.0
No of changes in col: met :  29
Mode of thalach attribute: 122.5
No of changes in col: thalach :  29
Mode of thalrest attribute: 67.5
No of changes in col: thalrest :  29
Mode of exang attribute: 1.0
No of changes in col: exang :  29
Mode of xhypo attribute: 0.0
No of changes in col: xhypo :  29
Mode of oldpeak attribute: 1.5
No of changes in col: oldpeak :  31
Mode of slope attribute: 2.0
No of changes in col: slope :  53
Mode of thal attribute: 7.0
No of changes in col: thal :  99
Mode of cathef attribute: 0.705
No of changes in col: cathef :  5

In [77]:
# longbeach_median.to_csv('datasets/longbeach_large.csv', index=False)